In [1]:
import pandas as pd
nef_t = pd.read_csv('english_nef.csv')
norm_t = pd.read_csv('n_t.csv')

/Users/elizabethrogers/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,15,16,17,18,19,25,26,27,28,29,30,32,34,35,36,37) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [2]:
nef_t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181497 entries, 0 to 181496
Data columns (total 35 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             181497 non-null  int64
 1   Unnamed: 0.1           181497 non-null  int64
 2   user_id                181497 non-null  float64
 3   user_handle            181497 non-null  object
 4   created_at_x           181497 non-null  float64
 5   created_str            181497 non-null  object
 6   retweet_count          50192 non-null   float64
 7   retweeted              50192 non-null   object
 8   favorite_count         50192 non-null   float64
 9   text                   181497 non-null  object
 10  tweet_id               179724 non-null  float64
 11  source                 50192 non-null   object
 12  hashtags               181497 non-null  object
 13  expanded_urls          181497 non-null  object
 14  posted                 181497 non-null  object
 15  mentions               181497 non-null  object
 16  retweeted_status_id    38552 non-null   float64
 17  in_reply_to_status_id  127 non-null     float64
 18  id                     181497 non-null  float64
 19  location               164338 non-null  object
 20  name                   181497 non-null  object
 21  followers_count        181497 non-null  float64
 22  statuses_count         181497 non-null  float64
 23  time_zone              181282 non-null  object
 24  verified               181497 non-null  bool
 25  lang                   181497 non-null  object
 26  description            172615 non-null  object
 27  created_at_y           181497 non-null  object
 28  favourites_count       181497 non-null  float64
 29  friends_count          181497 non-null  float64
 30  listed_count           181497 non-null  float64
 31  p_text                 181497 non-null  object
 32  p_desc                 172615 non-null  object
 33  text_vecs              181497 non-null  object
 34  desc_vecs              181497 non-null  object
dtypes: bool(1), float64(13), int64(2), object(19)
memory usage: 47.3+ MB

In [3]:
norm_t.info() #I don't understand what happened to this but it must've happened when I pushed the csv days ago -
#At least the vectors don't seem affected and I should be able to trim it based on unique tweet ids

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55387 entries, 0 to 55386
Data columns (total 38 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               55387 non-null  object
 1   t_id                     22619 non-null  object
 2   t_text                   22619 non-null  object
 3   t_created_at             22619 non-null  object
 4   t_hashtags               22619 non-null  object
 5   t_mentions               22619 non-null  object
 6   t_urls                   22619 non-null  object
 7   t_source                 22619 non-null  object
 8   t_lang                   22619 non-null  object
 9   t_favorite_count         22619 non-null  object
 10  t_retweet_count          22619 non-null  object
 11  t_retweeted              22619 non-null  object
 12  t_retweet_status_id      22619 non-null  object
 13  t_in_reply_to_status_id  22619 non-null  float64
 14  user_id                  22619 non-null  float64
 15  user_name                22619 non-null  object
 16  user_handle              22619 non-null  object
 17  user_location            22619 non-null  object
 18  user_desc                20608 non-null  object
 19  user_verified            12290 non-null  object
 20  followers_count          12289 non-null  float64
 21  user_status_count        12289 non-null  float64
 22  user_friend_count        12289 non-null  float64
 23  user_favorites_count     12289 non-null  float64
 24  user_listed_count        12289 non-null  float64
 25  user_protected           12289 non-null  object
 26  user_created_at          12289 non-null  object
 27  mentions                 12289 non-null  object
 28  hashtags                 12289 non-null  object
 29  urls                     12289 non-null  object
 30  emojis                   12289 non-null  object
 31  emoji_count              12289 non-null  float64
 32  emoji_repeated           12289 non-null  object
 33  in_reply                 12289 non-null  float64
 34  text                     12289 non-null  object
 35  desc                     10278 non-null  object
 36  desc_vecs                12289 non-null  object
 37  text_vecs                12289 non-null  object
dtypes: float64(9), object(29)
memory usage: 16.1+ MB

In [6]:
norm_t = norm_t[norm_t['text'].notna()]
norm_t.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12289 entries, 0 to 55386
Data columns (total 38 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               12289 non-null  object
 1   t_id                     12289 non-null  object
 2   t_text                   12289 non-null  object
 3   t_created_at             12289 non-null  object
 4   t_hashtags               12289 non-null  object
 5   t_mentions               12289 non-null  object
 6   t_urls                   12289 non-null  object
 7   t_source                 12289 non-null  object
 8   t_lang                   12289 non-null  object
 9   t_favorite_count         12289 non-null  object
 10  t_retweet_count          12289 non-null  object
 11  t_retweeted              12289 non-null  object
 12  t_retweet_status_id      12289 non-null  object
 13  t_in_reply_to_status_id  12289 non-null  float64
 14  user_id                  12289 non-null  float64
 15  user_name                12289 non-null  object
 16  user_handle              12289 non-null  object
 17  user_location            12289 non-null  object
 18  user_desc                10278 non-null  object
 19  user_verified            12289 non-null  object
 20  followers_count          12289 non-null  float64
 21  user_status_count        12289 non-null  float64
 22  user_friend_count        12289 non-null  float64
 23  user_favorites_count     12289 non-null  float64
 24  user_listed_count        12289 non-null  float64
 25  user_protected           12289 non-null  object
 26  user_created_at          12289 non-null  object
 27  mentions                 12289 non-null  object
 28  hashtags                 12289 non-null  object
 29  urls                     12289 non-null  object
 30  emojis                   12289 non-null  object
 31  emoji_count              12289 non-null  float64
 32  emoji_repeated           12289 non-null  object
 33  in_reply                 12289 non-null  float64
 34  text                     12289 non-null  object
 35  desc                     10278 non-null  object
 36  desc_vecs                12289 non-null  object
 37  text_vecs                12289 non-null  object
dtypes: float64(9), object(29)
memory usage: 3.7+ MB

In [7]:
from datetime import datetime, timedelta
norm_t['t_created_at'] = pd.to_datetime(norm_t['t_created_at'])

<ipython-input-7-1643231e256a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  norm_t['t_created_at'] = pd.to_datetime(norm_t['t_created_at'])

In [8]:
norm_t.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12289 entries, 0 to 55386
Data columns (total 38 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               12289 non-null  object
 1   t_id                     12289 non-null  object
 2   t_text                   12289 non-null  object
 3   t_created_at             12289 non-null  datetime64[ns, UTC]
 4   t_hashtags               12289 non-null  object
 5   t_mentions               12289 non-null  object
 6   t_urls                   12289 non-null  object
 7   t_source                 12289 non-null  object
 8   t_lang                   12289 non-null  object
 9   t_favorite_count         12289 non-null  object
 10  t_retweet_count          12289 non-null  object
 11  t_retweeted              12289 non-null  object
 12  t_retweet_status_id      12289 non-null  object
 13  t_in_reply_to_status_id  12289 non-null  float64
 14  user_id                  12289 non-null  float64
 15  user_name                12289 non-null  object
 16  user_handle              12289 non-null  object
 17  user_location            12289 non-null  object
 18  user_desc                10278 non-null  object
 19  user_verified            12289 non-null  object
 20  followers_count          12289 non-null  float64
 21  user_status_count        12289 non-null  float64
 22  user_friend_count        12289 non-null  float64
 23  user_favorites_count     12289 non-null  float64
 24  user_listed_count        12289 non-null  float64
 25  user_protected           12289 non-null  object
 26  user_created_at          12289 non-null  object
 27  mentions                 12289 non-null  object
 28  hashtags                 12289 non-null  object
 29  urls                     12289 non-null  object
 30  emojis                   12289 non-null  object
 31  emoji_count              12289 non-null  float64
 32  emoji_repeated           12289 non-null  object
 33  in_reply                 12289 non-null  float64
 34  text                     12289 non-null  object
 35  desc                     10278 non-null  object
 36  desc_vecs                12289 non-null  object
 37  text_vecs                12289 non-null  object
dtypes: datetime64[ns, UTC](1), float64(9), object(28)
memory usage: 3.7+ MB

In [9]:
norm_t['user_created_at'] = pd.to_datetime(norm_t['user_created_at'])
norm_t.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12289 entries, 0 to 55386
Data columns (total 38 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               12289 non-null  object
 1   t_id                     12289 non-null  object
 2   t_text                   12289 non-null  object
 3   t_created_at             12289 non-null  datetime64[ns, UTC]
 4   t_hashtags               12289 non-null  object
 5   t_mentions               12289 non-null  object
 6   t_urls                   12289 non-null  object
 7   t_source                 12289 non-null  object
 8   t_lang                   12289 non-null  object
 9   t_favorite_count         12289 non-null  object
 10  t_retweet_count          12289 non-null  object
 11  t_retweeted              12289 non-null  object
 12  t_retweet_status_id      12289 non-null  object
 13  t_in_reply_to_status_id  12289 non-null  float64
 14  user_id                  12289 non-null  float64
 15  user_name                12289 non-null  object
 16  user_handle              12289 non-null  object
 17  user_location            12289 non-null  object
 18  user_desc                10278 non-null  object
 19  user_verified            12289 non-null  object
 20  followers_count          12289 non-null  float64
 21  user_status_count        12289 non-null  float64
 22  user_friend_count        12289 non-null  float64
 23  user_favorites_count     12289 non-null  float64
 24  user_listed_count        12289 non-null  float64
 25  user_protected           12289 non-null  object
 26  user_created_at          12289 non-null  datetime64[ns, UTC]
 27  mentions                 12289 non-null  object
 28  hashtags                 12289 non-null  object
 29  urls                     12289 non-null  object
 30  emojis                   12289 non-null  object
 31  emoji_count              12289 non-null  float64
 32  emoji_repeated           12289 non-null  object
 33  in_reply                 12289 non-null  float64
 34  text                     12289 non-null  object
 35  desc                     10278 non-null  object
 36  desc_vecs                12289 non-null  object
 37  text_vecs                12289 non-null  object
dtypes: datetime64[ns, UTC](2), float64(9), object(27)
memory usage: 3.7+ MB

<ipython-input-9-59c74dc7a2f5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  norm_t['user_created_at'] = pd.to_datetime(norm_t['user_created_at'])

In [12]:
norm_t['creation_delta'] = norm_t['t_created_at'] - norm_t['user_created_at']
norm_t['creation_delta']

<ipython-input-12-5f9c81acb197>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  norm_t['creation_delta'] = norm_t['t_created_at'] - norm_t['user_created_at']

0       1767 days 14:15:34
1       2736 days 19:22:00
2        210 days 02:24:53
3        909 days 20:39:29
4       1933 days 11:22:05
               ...
55382   2297 days 14:29:02
55383    379 days 03:02:49
55384    421 days 09:03:34
55385   2022 days 10:45:55
55386     95 days 23:15:42
Name: creation_delta, Length: 12289, dtype: timedelta64[ns]

In [13]:
norm_t['creation_delta'] = [day.days for day in norm_t['creation_delta']]
norm_t['creation_delta']

<ipython-input-13-42d910fe42f8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  norm_t['creation_delta'] = [day.days for day in norm_t['creation_delta']]

0        1767
1        2736
2         210
3         909
4        1933
         ...
55382    2297
55383     379
55384     421
55385    2022
55386      95
Name: creation_delta, Length: 12289, dtype: int64

In [14]:
nef_t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181497 entries, 0 to 181496
Data columns (total 35 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             181497 non-null  int64
 1   Unnamed: 0.1           181497 non-null  int64
 2   user_id                181497 non-null  float64
 3   user_handle            181497 non-null  object
 4   created_at_x           181497 non-null  float64
 5   created_str            181497 non-null  object
 6   retweet_count          50192 non-null   float64
 7   retweeted              50192 non-null   object
 8   favorite_count         50192 non-null   float64
 9   text                   181497 non-null  object
 10  tweet_id               179724 non-null  float64
 11  source                 50192 non-null   object
 12  hashtags               181497 non-null  object
 13  expanded_urls          181497 non-null  object
 14  posted                 181497 non-null  object
 15  mentions               181497 non-null  object
 16  retweeted_status_id    38552 non-null   float64
 17  in_reply_to_status_id  127 non-null     float64
 18  id                     181497 non-null  float64
 19  location               164338 non-null  object
 20  name                   181497 non-null  object
 21  followers_count        181497 non-null  float64
 22  statuses_count         181497 non-null  float64
 23  time_zone              181282 non-null  object
 24  verified               181497 non-null  bool
 25  lang                   181497 non-null  object
 26  description            172615 non-null  object
 27  created_at_y           181497 non-null  object
 28  favourites_count       181497 non-null  float64
 29  friends_count          181497 non-null  float64
 30  listed_count           181497 non-null  float64
 31  p_text                 181497 non-null  object
 32  p_desc                 172615 non-null  object
 33  text_vecs              181497 non-null  object
 34  desc_vecs              181497 non-null  object
dtypes: bool(1), float64(13), int64(2), object(19)
memory usage: 47.3+ MB

In [15]:
nef_t['verified'] = nef_t['verified'].astype(int)
nef_t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181497 entries, 0 to 181496
Data columns (total 35 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             181497 non-null  int64
 1   Unnamed: 0.1           181497 non-null  int64
 2   user_id                181497 non-null  float64
 3   user_handle            181497 non-null  object
 4   created_at_x           181497 non-null  float64
 5   created_str            181497 non-null  object
 6   retweet_count          50192 non-null   float64
 7   retweeted              50192 non-null   object
 8   favorite_count         50192 non-null   float64
 9   text                   181497 non-null  object
 10  tweet_id               179724 non-null  float64
 11  source                 50192 non-null   object
 12  hashtags               181497 non-null  object
 13  expanded_urls          181497 non-null  object
 14  posted                 181497 non-null  object
 15  mentions               181497 non-null  object
 16  retweeted_status_id    38552 non-null   float64
 17  in_reply_to_status_id  127 non-null     float64
 18  id                     181497 non-null  float64
 19  location               164338 non-null  object
 20  name                   181497 non-null  object
 21  followers_count        181497 non-null  float64
 22  statuses_count         181497 non-null  float64
 23  time_zone              181282 non-null  object
 24  verified               181497 non-null  int64
 25  lang                   181497 non-null  object
 26  description            172615 non-null  object
 27  created_at_y           181497 non-null  object
 28  favourites_count       181497 non-null  float64
 29  friends_count          181497 non-null  float64
 30  listed_count           181497 non-null  float64
 31  p_text                 181497 non-null  object
 32  p_desc                 172615 non-null  object
 33  text_vecs              181497 non-null  object
 34  desc_vecs              181497 non-null  object
dtypes: float64(13), int64(3), object(19)
memory usage: 48.5+ MB

In [16]:
norm_t.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12289 entries, 0 to 55386
Data columns (total 39 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               12289 non-null  object
 1   t_id                     12289 non-null  object
 2   t_text                   12289 non-null  object
 3   t_created_at             12289 non-null  datetime64[ns, UTC]
 4   t_hashtags               12289 non-null  object
 5   t_mentions               12289 non-null  object
 6   t_urls                   12289 non-null  object
 7   t_source                 12289 non-null  object
 8   t_lang                   12289 non-null  object
 9   t_favorite_count         12289 non-null  object
 10  t_retweet_count          12289 non-null  object
 11  t_retweeted              12289 non-null  object
 12  t_retweet_status_id      12289 non-null  object
 13  t_in_reply_to_status_id  12289 non-null  float64
 14  user_id                  12289 non-null  float64
 15  user_name                12289 non-null  object
 16  user_handle              12289 non-null  object
 17  user_location            12289 non-null  object
 18  user_desc                10278 non-null  object
 19  user_verified            12289 non-null  object
 20  followers_count          12289 non-null  float64
 21  user_status_count        12289 non-null  float64
 22  user_friend_count        12289 non-null  float64
 23  user_favorites_count     12289 non-null  float64
 24  user_listed_count        12289 non-null  float64
 25  user_protected           12289 non-null  object
 26  user_created_at          12289 non-null  datetime64[ns, UTC]
 27  mentions                 12289 non-null  object
 28  hashtags                 12289 non-null  object
 29  urls                     12289 non-null  object
 30  emojis                   12289 non-null  object
 31  emoji_count              12289 non-null  float64
 32  emoji_repeated           12289 non-null  object
 33  in_reply                 12289 non-null  float64
 34  text                     12289 non-null  object
 35  desc                     10278 non-null  object
 36  desc_vecs                12289 non-null  object
 37  text_vecs                12289 non-null  object
 38  creation_delta           12289 non-null  int64
dtypes: datetime64[ns, UTC](2), float64(9), int64(1), object(27)
memory usage: 3.8+ MB

In [18]:
norm_t['in_reply'].value_counts()

0.0    11132
1.0     1157
Name: in_reply, dtype: int64

In [23]:
nef_t['in_reply_to_status_id'].unique()
#It's hard to know if this is actual information - are the nans just lack of info or actually not replys?
#Would be valuable to know since there is a huge disparity.

array([           nan, 7.69585790e+17, 7.63757601e+17, 7.86775406e+17,
       7.68121000e+17, 6.41608126e+17, 7.60960986e+17, 7.57278632e+17,
       7.54747850e+17, 7.96797437e+17, 7.57690343e+17, 7.59566701e+17,
       7.62104003e+17, 7.68099659e+17, 7.60976212e+17, 7.68622222e+17,
       7.60956300e+17, 7.59573047e+17, 7.59580851e+17, 7.80558040e+17,
       6.61170581e+17, 7.80485079e+17, 7.37243856e+17, 7.93445951e+17,
       7.57380388e+17, 7.83642593e+17, 7.56534429e+17, 7.59222916e+17,
       7.84815031e+17, 7.55176369e+17, 7.64102925e+17, 7.51951377e+17,
       7.69598339e+17, 7.81516474e+17, 7.56625701e+17, 7.60939366e+17,
       7.89147821e+17, 7.97080157e+17, 7.55690630e+17, 7.59506713e+17,
       7.62677498e+17, 7.73689822e+17, 7.59164203e+17, 7.97081092e+17,
       7.60932991e+17, 7.80602260e+17, 7.96691028e+17, 6.44193756e+17,
       7.63758119e+17, 7.57957036e+17, 7.71704332e+17, 7.94918303e+17,
       7.58071952e+17, 7.56647127e+17, 7.60275137e+17, 7.83649582e+17,
       7.60542310e+17, 7.58026136e+17, 7.99619595e+17, 7.96805392e+17,
       7.98192679e+17, 6.32541550e+17, 7.68368974e+17, 7.56902130e+17,
       6.10838591e+17, 6.56144382e+17, 7.56993006e+17, 7.56538442e+17,
       7.70356070e+17, 7.90925447e+17, 7.86895850e+17, 7.89136383e+17,
       7.68122535e+17, 7.69667498e+17, 7.56636367e+17, 7.82024108e+17,
       7.62783914e+17, 7.67046604e+17, 7.87416487e+17, 7.97043968e+17,
       7.55212040e+17, 7.64909229e+17, 7.65898265e+17, 7.56902952e+17,
       7.61016540e+17, 7.59577168e+17, 7.72447441e+17, 7.59574780e+17,
       7.63758978e+17, 7.60221559e+17, 7.64246609e+17, 7.81892833e+17,
       7.85949687e+17, 7.81651098e+17, 7.58122685e+17, 7.68119463e+17,
       7.58932416e+17, 7.78238281e+17, 7.55205824e+17, 7.82219277e+17,
       7.57305381e+17, 7.56793438e+17, 7.77521878e+17, 7.94189518e+17,
       7.64952523e+17, 7.56793092e+17, 7.60990664e+17, 7.68121123e+17,
       7.90886344e+17, 7.96746953e+17, 7.60542734e+17, 6.45961612e+17,
       7.66401697e+17, 7.62401339e+17, 7.74313327e+17, 7.81515670e+17,
       7.56033388e+17, 7.63092975e+17, 7.68110740e+17, 7.61559930e+17,
       7.62827927e+17, 8.00671980e+17, 7.56626378e+17, 7.61637347e+17,
       7.57382990e+17])

In [25]:
nef_t[nef_t['in_reply_to_status_id'].isnull()]
#Alright I might as well make it a boolean and deal with it when I'm visualizing

,Unnamed: 0,Unnamed: 0.1,user_id,user_handle,created_at_x,created_str,retweet_count,retweeted,favorite_count,text,...,lang,description,created_at_y,favourites_count,friends_count,listed_count,p_text,p_desc,text_vecs,desc_vecs
0,0,0,1.868981e+09,ryanmaxwell_1,1.458672e+12,2016-03-22 18:31:42,NaN,NaN,NaN,#IslamKills Are you trying to say that there w...,...,en,"Conservative. sports fan. Doing what I love, p...",Sun Sep 15 19:45:16 +0000 2013,1102.0,1990.0,25.0,IslamKills Are you trying to say that there we...,Conservative . sports fan . Doing what I love ...,[-9.75581333e-02 8.62012357e-02 -1.48128569e-...,[ 6.14243466e-03 2.21205026e-01 -9.53677520e-...
1,1,1,2.571870e+09,detroitdailynew,1.476133e+12,2016-10-10 20:57:00,0.0,False,0.0,"Clinton: Trump should’ve apologized more, atta...",...,en,"Local news, sports, business, politics, entert...",Fri May 30 07:24:00 +0000 2014,4.0,5144.0,193.0,"Clinton : Trump should ’ve apologized more , a...","Local news , sports , business , politics , en...",[-2.54299581e-01 2.08115086e-01 -5.42564988e-...,[-7.22378492e-02 3.59070897e-01 1.65857021e-...
2,2,2,1.710805e+09,cookncooks,1.487767e+12,2017-02-22 12:43:43,NaN,NaN,NaN,RT @ltapoll: Who was/is the best president of ...,...,en,"HI FBI !!! #TRUMP, #Trump2016, @realdonaldtrum...",Thu Aug 29 19:45:40 +0000 2013,2447.0,1454.0,15.0,RT Ltapoll : Who was / is the best president o...,"HI FBI ! ! ! TRUMP , Trump2016 , Realdonaldtru...",[-6.26463490e-03 2.45223805e-01 4.85288352e-...,[-7.92677626e-02 3.60640109e-01 -2.16643270e-...
3,3,3,2.584153e+09,queenofthewo,1.482765e+12,2016-12-26 15:06:41,NaN,NaN,NaN,RT @jww372: I don't have to guess your religio...,...,en,"I have not failed. I've just found 10,000 ways...",Thu Jun 05 12:27:57 +0000 2014,1275.0,1427.0,11.0,RT Jww372 : I don't have to guess your religio...,"I have not failed . I 've just found 10,000 wa...",[-1.51896114e-02 1.88419759e-01 -2.08315775e-...,[ 1.77217331e-02 2.25492433e-01 -2.37730935e-...
4,4,4,1.768260e+09,mrclydepratt,1.501987e+12,2017-08-06 02:36:24,NaN,NaN,NaN,RT @Shareblue: Pence and his lawyers decided w...,...,en,Life is a beautiful struggle. Seek enlightenme...,Sat Sep 07 19:16:06 +0000 2013,1996.0,847.0,23.0,RT Shareblue : Pence and his lawyers decided w...,Life is a beautiful struggle . Seek enlightenm...,[-3.99168544e-02 8.63239989e-02 -9.17898118e-...,[-4.56326157e-02 1.99148685e-01 -1.06022984e-...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181492,203484,203477,1.518857e+09,nojonathonno,1.478002e+12,2016-11-01 12:13:06,0.0,False,0.0,"RT @AndreaChalupa: In intel circles, the story...",...,en,Strive not to be a success but rather to be of...,Sat Jun 15 08:47:02 +0000 2013,2170.0,440.0,8.0,"RT Andreachalupa : In intel circles , the stor...",Strive not to be a success but rather to be of...,[-9.79978219e-02 1.21391125e-01 1.75569337e-...,[-0.026988 0.20653379 -0.14419164 -0.060421...
181493,203485,203478,2.587101e+09,judelambertusa,1.434589e+12,2015-06-18 01:04:35,NaN,NaN,NaN,RT @KansasCityDNews: Tonganoxie police: Middle...,...,en,God. Country. Family. #tcot\n#RedNationRising ...,Fri Jun 06 13:58:27 +0000 2014,939.0,1525.0,21.0,RT Kansascitydnews : Tonganoxie police : Middl...,God . Country . Family . tcot RedNationRising...,[-3.51074934e-02 1.64820999e-01 -7.04396665e-...,[-9.62959081e-02 1.18785359e-01 1.19527252e-...
181494,203486,203479,2.671070e+09,patriotblake,1.484074e+12,2017-01-10 18:50:48,NaN,NaN,NaN,RT @signsinyork: Getting the right #company lo...,...,en,"Big Government=corruption, #NRA, Conservative,...",Fri Jul 04 08:01:06 +0000 2014,3533.0,2286.0,38.0,RT Signsinyork : Getting the right company log...,"Big Government = corruption , NRA , Conservati...",[ 2.64568850e-02 1.75231159e-01 -2.21504122e-...,[-2.33697653e-01 1.76734313e-01 -1.51604200e-...
181495,203487,203480,2.630842e+09,dailysandiego,1.479679e+12,2016-11-20 21:49:07,0.0,False,0.0,The Latest: Obama affirms continuity of ties w...,...,en,"Follow for San Diego's breaking news, special ...",Sun Jun 22 08:43:22 +0000 2014,2.0,5435.0,219.0,The Latest : Obama affirms continuity of ties ...,"Follow for San Diego's breaking news , special...",[-7.84273371e-02 8.10301676e-02 -3.99266742e-...,[-1.33578852e-01 2.43973389e-01 -2.49353722e-...
181496,203488,203481,1.680366e+09,willisbonnerr,1.482188e+12,2016-12-19 23:00:17,NaN,NaN,NaN,RT @futureguru100: U cant just Upload a CD onl...,...,en,You miss 100% of the shots you don’t take,Sun Aug 18 10:05:28 +0000 2013,1365.0,470.0,7.0,RT Futureguru100 : U ca nt just Upload a CD on...,You miss 100 % of the shots you don't take,[-3.64735574e-02 9.87934545e-02 -1.43193364e-...,[-1.81022823e-01 2.69854099e-01 -2.48708472e-...

In [26]:
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime, timedelta

In [29]:
nef_t['in_reply_to_status_id'].fillna(0)
nef_t['in_reply'] = [int(reply > 0) for reply in nef_t['in_reply_to_status_id']] 
nef_t[['in_reply', 'in_reply_to_status_id']]

        in_reply  in_reply_to_status_id
0              0                    NaN
1              0                    NaN
2              0                    NaN
3              0                    NaN
4              0                    NaN
...          ...                    ...
181492         0                    NaN
181493         0                    NaN
181494         0                    NaN
181495         0                    NaN
181496         0                    NaN

[181497 rows x 2 columns]

In [34]:
nef_t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181497 entries, 0 to 181496
Data columns (total 36 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             181497 non-null  int64
 1   Unnamed: 0.1           181497 non-null  int64
 2   user_id                181497 non-null  float64
 3   user_handle            181497 non-null  object
 4   created_at_x           181497 non-null  float64
 5   created_str            181497 non-null  object
 6   retweet_count          50192 non-null   float64
 7   retweeted              50192 non-null   object
 8   favorite_count         50192 non-null   float64
 9   text                   181497 non-null  object
 10  tweet_id               179724 non-null  float64
 11  source                 50192 non-null   object
 12  hashtags               181497 non-null  object
 13  expanded_urls          181497 non-null  object
 14  posted                 181497 non-null  object
 15  mentions               181497 non-null  object
 16  retweeted_status_id    38552 non-null   float64
 17  in_reply_to_status_id  127 non-null     float64
 18  id                     181497 non-null  float64
 19  location               164338 non-null  object
 20  name                   181497 non-null  object
 21  followers_count        181497 non-null  float64
 22  statuses_count         181497 non-null  float64
 23  time_zone              181282 non-null  object
 24  verified               181497 non-null  int64
 25  lang                   181497 non-null  object
 26  description            172615 non-null  object
 27  created_at_y           181497 non-null  object
 28  favourites_count       181497 non-null  float64
 29  friends_count          181497 non-null  float64
 30  listed_count           181497 non-null  float64
 31  p_text                 181497 non-null  object
 32  p_desc                 172615 non-null  object
 33  text_vecs              181497 non-null  object
 34  desc_vecs              181497 non-null  object
 35  in_reply               181497 non-null  int64
dtypes: float64(13), int64(4), object(19)
memory usage: 49.8+ MB

In [32]:
#I'm not sure what to do about the timezones with imperfect information, but given that when I pulled the tweet
#creation info, it was in the UTC timezone, I'll just assume they pulled it the same way and it's in the same
#universal timezone.

0         Pacific Time (US & Canada)
1         Central Time (US & Canada)
2         Pacific Time (US & Canada)
3         Eastern Time (US & Canada)
4         Eastern Time (US & Canada)
                     ...
181492    Eastern Time (US & Canada)
181493    Central Time (US & Canada)
181494    Eastern Time (US & Canada)
181495    Pacific Time (US & Canada)
181496    Eastern Time (US & Canada)
Name: time_zone, Length: 181497, dtype: object

In [35]:
nef_t.rename(columns={'created_str': 'tweet_date', 'created_at_y': 'account_creation_date'}, inplace=True)
nef_t

,Unnamed: 0,Unnamed: 0.1,user_id,user_handle,created_at_x,tweet_date,retweet_count,retweeted,favorite_count,text,...,description,account_creation_date,favourites_count,friends_count,listed_count,p_text,p_desc,text_vecs,desc_vecs,in_reply
0,0,0,1.868981e+09,ryanmaxwell_1,1.458672e+12,2016-03-22 18:31:42,NaN,NaN,NaN,#IslamKills Are you trying to say that there w...,...,"Conservative. sports fan. Doing what I love, p...",Sun Sep 15 19:45:16 +0000 2013,1102.0,1990.0,25.0,IslamKills Are you trying to say that there we...,Conservative . sports fan . Doing what I love ...,[-9.75581333e-02 8.62012357e-02 -1.48128569e-...,[ 6.14243466e-03 2.21205026e-01 -9.53677520e-...,0
1,1,1,2.571870e+09,detroitdailynew,1.476133e+12,2016-10-10 20:57:00,0.0,False,0.0,"Clinton: Trump should’ve apologized more, atta...",...,"Local news, sports, business, politics, entert...",Fri May 30 07:24:00 +0000 2014,4.0,5144.0,193.0,"Clinton : Trump should ’ve apologized more , a...","Local news , sports , business , politics , en...",[-2.54299581e-01 2.08115086e-01 -5.42564988e-...,[-7.22378492e-02 3.59070897e-01 1.65857021e-...,0
2,2,2,1.710805e+09,cookncooks,1.487767e+12,2017-02-22 12:43:43,NaN,NaN,NaN,RT @ltapoll: Who was/is the best president of ...,...,"HI FBI !!! #TRUMP, #Trump2016, @realdonaldtrum...",Thu Aug 29 19:45:40 +0000 2013,2447.0,1454.0,15.0,RT Ltapoll : Who was / is the best president o...,"HI FBI ! ! ! TRUMP , Trump2016 , Realdonaldtru...",[-6.26463490e-03 2.45223805e-01 4.85288352e-...,[-7.92677626e-02 3.60640109e-01 -2.16643270e-...,0
3,3,3,2.584153e+09,queenofthewo,1.482765e+12,2016-12-26 15:06:41,NaN,NaN,NaN,RT @jww372: I don't have to guess your religio...,...,"I have not failed. I've just found 10,000 ways...",Thu Jun 05 12:27:57 +0000 2014,1275.0,1427.0,11.0,RT Jww372 : I don't have to guess your religio...,"I have not failed . I 've just found 10,000 wa...",[-1.51896114e-02 1.88419759e-01 -2.08315775e-...,[ 1.77217331e-02 2.25492433e-01 -2.37730935e-...,0
4,4,4,1.768260e+09,mrclydepratt,1.501987e+12,2017-08-06 02:36:24,NaN,NaN,NaN,RT @Shareblue: Pence and his lawyers decided w...,...,Life is a beautiful struggle. Seek enlightenme...,Sat Sep 07 19:16:06 +0000 2013,1996.0,847.0,23.0,RT Shareblue : Pence and his lawyers decided w...,Life is a beautiful struggle . Seek enlightenm...,[-3.99168544e-02 8.63239989e-02 -9.17898118e-...,[-4.56326157e-02 1.99148685e-01 -1.06022984e-...,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181492,203484,203477,1.518857e+09,nojonathonno,1.478002e+12,2016-11-01 12:13:06,0.0,False,0.0,"RT @AndreaChalupa: In intel circles, the story...",...,Strive not to be a success but rather to be of...,Sat Jun 15 08:47:02 +0000 2013,2170.0,440.0,8.0,"RT Andreachalupa : In intel circles , the stor...",Strive not to be a success but rather to be of...,[-9.79978219e-02 1.21391125e-01 1.75569337e-...,[-0.026988 0.20653379 -0.14419164 -0.060421...,0
181493,203485,203478,2.587101e+09,judelambertusa,1.434589e+12,2015-06-18 01:04:35,NaN,NaN,NaN,RT @KansasCityDNews: Tonganoxie police: Middle...,...,God. Country. Family. #tcot\n#RedNationRising ...,Fri Jun 06 13:58:27 +0000 2014,939.0,1525.0,21.0,RT Kansascitydnews : Tonganoxie police : Middl...,God . Country . Family . tcot RedNationRising...,[-3.51074934e-02 1.64820999e-01 -7.04396665e-...,[-9.62959081e-02 1.18785359e-01 1.19527252e-...,0
181494,203486,203479,2.671070e+09,patriotblake,1.484074e+12,2017-01-10 18:50:48,NaN,NaN,NaN,RT @signsinyork: Getting the right #company lo...,...,"Big Government=corruption, #NRA, Conservative,...",Fri Jul 04 08:01:06 +0000 2014,3533.0,2286.0,38.0,RT Signsinyork : Getting the right company log...,"Big Government = corruption , NRA , Conservati...",[ 2.64568850e-02 1.75231159e-01 -2.21504122e-...,[-2.33697653e-01 1.76734313e-01 -1.51604200e-...,0
181495,203487,203480,2.630842e+09,dailysandiego,1.479679e+12,2016-11-20 21:49:07,0.0,False,0.0,The Latest: Obama affirms continuity of ties w...,...,"Follow for San Diego's breaking news, special ...",Sun Jun 22 08:43:22 +0000 2014,2.0,5435.0,219.0,The Latest : Obama affirms continuity of ties ...,"Follow for San Diego's breaking news , special...",[-7.84273371e-02 8.10301676e-02 -3.99266742e-...,[-1.33578852e-01 2.43973389e-01 -2.49353722e-...,0
181496,203488,203481,1.680366e+09,willisbonnerr,1.482188e+12,2016-12-19 23:00:17,NaN,NaN,NaN,RT @futureguru100: U cant just Upload a CD onl...,...,You miss 100% of the shots you don’t take,Sun Aug 18 10:05:28 +0000 2013,1365.0,470.0,7.0,RT Futureguru100 : U ca nt just Upload a CD on...,You miss 100 % of the shots you don't take,[-3.64735574e-02 9.87934545e-02 -1.43193364e-...,[-1.81022823e-01 2.69854099e-01 -2.48708472e-...,0

In [36]:
norm_t

,Unnamed: 0,t_id,t_text,t_created_at,t_hashtags,t_mentions,t_urls,t_source,t_lang,t_favorite_count,...,urls,emojis,emoji_count,emoji_repeated,in_reply,text,desc,desc_vecs,text_vecs,creation_delta
0,0,763431264577728512,"RT @jasonfekete: Great read here: In 2007, Tru...",2016-08-10 17:46:11+00:00,[],"[{'screen_name': 'jasonfekete', 'name': 'Jason...","[{'url': 'https://t.co/yM6JGjrWbD', 'expanded_...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",en,0,...,['https://www.washingtonpost.com/graphics/poli...,[],0.0,0,0.0,"RT Jasonfekete : Great read here : In 2007 , T...",Canada's only clinically tested Memeditorialis...,[-1.43868655e-01 9.54335257e-02 -1.23130858e-...,[-4.16987538e-02 2.24651024e-01 -8.93573910e-...,1767
1,1,763431264061755392,RT @HuffPostBiz: Trump's new economic plan is ...,2016-08-10 17:46:11+00:00,[],"[{'screen_name': 'HuffPostBiz', 'name': 'HuffP...","[{'url': 'https://t.co/vGefdXaiDP', 'expanded_...","<a href=""http://twitter.com/download/android"" ...",en,0,...,['http://huff.to/2aAiLE0'],[],0.0,0,0.0,RT Huffpostbiz : Trump's new economic plan is ...,‏Light Shall Defeat Darkness crown airyanem xv...,[ 4.54322249e-02 -4.05271910e-02 5.58016635e-...,[-1.32953525e-01 2.13327408e-01 -1.21812902e-...,2736
2,2,763431265370505216,"RT @nytopinion: Forget politics, Trump is a di...",2016-08-10 17:46:12+00:00,[],"[{'screen_name': 'nytopinion', 'name': 'New Yo...","[{'url': 'https://t.co/EErtmVZr4R', 'expanded_...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",en,0,...,['http://nyti.ms/2aErfdk'],[],0.0,0,0.0,"RT Nytopinion : Forget politics , Trump is a d...",Live Love Let Live . Protect and Respect your ...,[-3.86481062e-02 2.49819607e-01 -2.69183457e-...,[-1.07704870e-01 1.41530424e-01 -3.75899039e-...,210
3,3,763431265743802368,RT @newtgingrich: Hillary Clinton snubs police...,2016-08-10 17:46:12+00:00,[],"[{'screen_name': 'newtgingrich', 'name': 'Newt...","[{'url': 'https://t.co/5b2xCcWg9l', 'expanded_...","<a href=""http://twitter.com/download/iphone"" r...",en,0,...,['http://thehill.com/blogs/ballot-box/presiden...,[],0.0,0,0.0,RT Newtgingrich : Hillary Clinton snubs police...,NaN,[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...,[-1.94718778e-01 1.64236680e-01 1.23007774e-...,909
4,4,763431266171645952,"RT @dredeyedick: If Trump was ""joking"", why sa...",2016-08-10 17:46:12+00:00,[],"[{'screen_name': 'dredeyedick', 'name': 'Dave ...",[],"<a href=""http://twitter.com/download/iphone"" r...",en,0,...,[],[],0.0,0,0.0,"RT Dredeyedick : If Trump was "" joking "" , why...","Retired Fed . Remember McCarthy , Nixon eras...",[-5.48557639e-02 9.28594097e-02 8.91094133e-...,[-1.06105380e-01 2.47954100e-01 -8.41307566e-...,1933
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55382,13185,789251007490301952,"RT @VICE: Trump's ""nasty woman"" comment is now...",2016-10-20 23:44:38+00:00,[],"[{'screen_name': 'VICE', 'name': 'VICE', 'id':...","[{'url': 'https://t.co/5Y4uG75s11', 'expanded_...","<a href=""http://www.echofon.com/"" rel=""nofollo...",en,0,...,['http://bit.ly/2ec34tZ'],[],0.0,0,0.0,"RT Vice : Trump's "" nasty woman "" comment is n...",Pretty good pals with Playfulwifey Absolutel...,[-1.07666612e-01 -2.65085115e-03 -1.69089392e-...,[-1.17614873e-01 2.85909325e-01 -1.00672990e-...,2297
55383,13186,789251009809899521,RT @HillaryClinton: Trump wouldn't say if he'l...,2016-10-20 23:44:38+00:00,[],"[{'screen_name': 'HillaryClinton', 'name': 'Hi...",[],"<a href=""http://twitter.com/download/android"" ...",en,0,...,[],[],0.0,0,0.0,RT Hillaryclinton : Trump wouldn't say if he'l...,"Southern lib who red heart selector facts , wi...",[-3.98998298e-02 1.82181150e-01 9.03247762e-...,[-2.00285353e-02 2.15310574e-01 -9.86146107e-...,379
55384,13187,789251009491111936,@TylerBoliver @NoahCRothman Isn't it odd how t...,2016-10-20 23:44:38+00:00,[],"[{'screen_name': 'TylerBoliver', 'name': 'Tyle...",[],"<a href=""http://twitter.com/#!/download/ipad"" ...",en,3,...,[],[],0.0,0,1.0,Tylerboliver Noahcrothman Isn't it odd how the...,RenegadeJew . Interests include Judaism & Isra...,[-1.61039919e-01 2.02472314e-01 -7.20392317e-...,[-5.44184782e-02 1.39632404e-01 -2.80548017e-...,421
55385,13188,789251009973329920,"RT @voxdotcom: At a rally on Thursday, Donald ...",2016-10-20 23:44:39+00:00,[],"[{'screen_name': 'voxdotcom', 'name': 'Vox', '...",[],"<a href=""http://twitter.com/#!/download/ipad"" ...",en,0,...,[],[],0.0,0,0.0,"RT Voxdotcom : At a rally on Thursday , Donald...",Adv organizational / personal leadership Coach...,[-0.08604326 0.21753643 -0.01998734 0.103206...,[-9.89627466e-03 1.19335383e-01 8.20662677e-...,2022
55386,13189,789251010002771968,@jennygerene @colbertlateshow He doesn't have ...,2016-10-20 23:44:39+00:00,[],"[{'screen_name': 'jennygerene', 'name': 'Jenny...",[],"<a href=""http://twitter.com/download/android"" ...",en,1,...,[],[],0.0,0,1.0,Jennygerene Colbertlateshow He doesn't have to...,NaN,[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...,[-4.42436151e-02 2.00849116e-01 -6.67828098e-...,95

In [37]:
nef_t['tweet_date'] = [str(date) + ' +0000' for date in nef_t['tweet_date']]
nef_t['tweet_date']

0         2016-03-22 18:31:42 +0000
1         2016-10-10 20:57:00 +0000
2         2017-02-22 12:43:43 +0000
3         2016-12-26 15:06:41 +0000
4         2017-08-06 02:36:24 +0000
                    ...
181492    2016-11-01 12:13:06 +0000
181493    2015-06-18 01:04:35 +0000
181494    2017-01-10 18:50:48 +0000
181495    2016-11-20 21:49:07 +0000
181496    2016-12-19 23:00:17 +0000
Name: tweet_date, Length: 181497, dtype: object

In [38]:
nef_t['tweet_date'] = pd.to_datetime(nef_t['tweet_date'])
nef_t #Hah! It worked.

,Unnamed: 0,Unnamed: 0.1,user_id,user_handle,created_at_x,tweet_date,retweet_count,retweeted,favorite_count,text,...,description,account_creation_date,favourites_count,friends_count,listed_count,p_text,p_desc,text_vecs,desc_vecs,in_reply
0,0,0,1.868981e+09,ryanmaxwell_1,1.458672e+12,2016-03-22 18:31:42+00:00,NaN,NaN,NaN,#IslamKills Are you trying to say that there w...,...,"Conservative. sports fan. Doing what I love, p...",Sun Sep 15 19:45:16 +0000 2013,1102.0,1990.0,25.0,IslamKills Are you trying to say that there we...,Conservative . sports fan . Doing what I love ...,[-9.75581333e-02 8.62012357e-02 -1.48128569e-...,[ 6.14243466e-03 2.21205026e-01 -9.53677520e-...,0
1,1,1,2.571870e+09,detroitdailynew,1.476133e+12,2016-10-10 20:57:00+00:00,0.0,False,0.0,"Clinton: Trump should’ve apologized more, atta...",...,"Local news, sports, business, politics, entert...",Fri May 30 07:24:00 +0000 2014,4.0,5144.0,193.0,"Clinton : Trump should ’ve apologized more , a...","Local news , sports , business , politics , en...",[-2.54299581e-01 2.08115086e-01 -5.42564988e-...,[-7.22378492e-02 3.59070897e-01 1.65857021e-...,0
2,2,2,1.710805e+09,cookncooks,1.487767e+12,2017-02-22 12:43:43+00:00,NaN,NaN,NaN,RT @ltapoll: Who was/is the best president of ...,...,"HI FBI !!! #TRUMP, #Trump2016, @realdonaldtrum...",Thu Aug 29 19:45:40 +0000 2013,2447.0,1454.0,15.0,RT Ltapoll : Who was / is the best president o...,"HI FBI ! ! ! TRUMP , Trump2016 , Realdonaldtru...",[-6.26463490e-03 2.45223805e-01 4.85288352e-...,[-7.92677626e-02 3.60640109e-01 -2.16643270e-...,0
3,3,3,2.584153e+09,queenofthewo,1.482765e+12,2016-12-26 15:06:41+00:00,NaN,NaN,NaN,RT @jww372: I don't have to guess your religio...,...,"I have not failed. I've just found 10,000 ways...",Thu Jun 05 12:27:57 +0000 2014,1275.0,1427.0,11.0,RT Jww372 : I don't have to guess your religio...,"I have not failed . I 've just found 10,000 wa...",[-1.51896114e-02 1.88419759e-01 -2.08315775e-...,[ 1.77217331e-02 2.25492433e-01 -2.37730935e-...,0
4,4,4,1.768260e+09,mrclydepratt,1.501987e+12,2017-08-06 02:36:24+00:00,NaN,NaN,NaN,RT @Shareblue: Pence and his lawyers decided w...,...,Life is a beautiful struggle. Seek enlightenme...,Sat Sep 07 19:16:06 +0000 2013,1996.0,847.0,23.0,RT Shareblue : Pence and his lawyers decided w...,Life is a beautiful struggle . Seek enlightenm...,[-3.99168544e-02 8.63239989e-02 -9.17898118e-...,[-4.56326157e-02 1.99148685e-01 -1.06022984e-...,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181492,203484,203477,1.518857e+09,nojonathonno,1.478002e+12,2016-11-01 12:13:06+00:00,0.0,False,0.0,"RT @AndreaChalupa: In intel circles, the story...",...,Strive not to be a success but rather to be of...,Sat Jun 15 08:47:02 +0000 2013,2170.0,440.0,8.0,"RT Andreachalupa : In intel circles , the stor...",Strive not to be a success but rather to be of...,[-9.79978219e-02 1.21391125e-01 1.75569337e-...,[-0.026988 0.20653379 -0.14419164 -0.060421...,0
181493,203485,203478,2.587101e+09,judelambertusa,1.434589e+12,2015-06-18 01:04:35+00:00,NaN,NaN,NaN,RT @KansasCityDNews: Tonganoxie police: Middle...,...,God. Country. Family. #tcot\n#RedNationRising ...,Fri Jun 06 13:58:27 +0000 2014,939.0,1525.0,21.0,RT Kansascitydnews : Tonganoxie police : Middl...,God . Country . Family . tcot RedNationRising...,[-3.51074934e-02 1.64820999e-01 -7.04396665e-...,[-9.62959081e-02 1.18785359e-01 1.19527252e-...,0
181494,203486,203479,2.671070e+09,patriotblake,1.484074e+12,2017-01-10 18:50:48+00:00,NaN,NaN,NaN,RT @signsinyork: Getting the right #company lo...,...,"Big Government=corruption, #NRA, Conservative,...",Fri Jul 04 08:01:06 +0000 2014,3533.0,2286.0,38.0,RT Signsinyork : Getting the right company log...,"Big Government = corruption , NRA , Conservati...",[ 2.64568850e-02 1.75231159e-01 -2.21504122e-...,[-2.33697653e-01 1.76734313e-01 -1.51604200e-...,0
181495,203487,203480,2.630842e+09,dailysandiego,1.479679e+12,2016-11-20 21:49:07+00:00,0.0,False,0.0,The Latest: Obama affirms continuity of ties w...,...,"Follow for San Diego's breaking news, special ...",Sun Jun 22 08:43:22 +0000 2014,2.0,5435.0,219.0,The Latest : Obama affirms continuity of ties ...,"Follow for San Diego's breaking news , special...",[-7.84273371e-02 8.10301676e-02 -3.99266742e-...,[-1.33578852e-01 2.43973389e-01 -2.49353722e-...,0
181496,203488,203481,1.680366e+09,willisbonnerr,1.482188e+12,2016-12-19 23:00:17+00:00,NaN,NaN,NaN,RT @futureguru100: U cant just Upload a CD onl...,...,You miss 100% of the shots you don’t take,Sun Aug 18 10:05:28 +0000 2013,1365.0,470.0,7.0,RT Futureguru100 : U ca nt just Upload a CD on...,You miss 100 % of the shots you don't take,[-3.64735574e-02 9.87934545e-02 -1.43193364e-...,[-1.81022823e-01 2.69854099e-01 -2.48708472e-...,0

In [39]:
nef_t['account_creation_date'] = pd.to_datetime(nef_t['account_creation_date'])
nef_t

,Unnamed: 0,Unnamed: 0.1,user_id,user_handle,created_at_x,tweet_date,retweet_count,retweeted,favorite_count,text,...,description,account_creation_date,favourites_count,friends_count,listed_count,p_text,p_desc,text_vecs,desc_vecs,in_reply
0,0,0,1.868981e+09,ryanmaxwell_1,1.458672e+12,2016-03-22 18:31:42+00:00,NaN,NaN,NaN,#IslamKills Are you trying to say that there w...,...,"Conservative. sports fan. Doing what I love, p...",2013-09-15 19:45:16+00:00,1102.0,1990.0,25.0,IslamKills Are you trying to say that there we...,Conservative . sports fan . Doing what I love ...,[-9.75581333e-02 8.62012357e-02 -1.48128569e-...,[ 6.14243466e-03 2.21205026e-01 -9.53677520e-...,0
1,1,1,2.571870e+09,detroitdailynew,1.476133e+12,2016-10-10 20:57:00+00:00,0.0,False,0.0,"Clinton: Trump should’ve apologized more, atta...",...,"Local news, sports, business, politics, entert...",2014-05-30 07:24:00+00:00,4.0,5144.0,193.0,"Clinton : Trump should ’ve apologized more , a...","Local news , sports , business , politics , en...",[-2.54299581e-01 2.08115086e-01 -5.42564988e-...,[-7.22378492e-02 3.59070897e-01 1.65857021e-...,0
2,2,2,1.710805e+09,cookncooks,1.487767e+12,2017-02-22 12:43:43+00:00,NaN,NaN,NaN,RT @ltapoll: Who was/is the best president of ...,...,"HI FBI !!! #TRUMP, #Trump2016, @realdonaldtrum...",2013-08-29 19:45:40+00:00,2447.0,1454.0,15.0,RT Ltapoll : Who was / is the best president o...,"HI FBI ! ! ! TRUMP , Trump2016 , Realdonaldtru...",[-6.26463490e-03 2.45223805e-01 4.85288352e-...,[-7.92677626e-02 3.60640109e-01 -2.16643270e-...,0
3,3,3,2.584153e+09,queenofthewo,1.482765e+12,2016-12-26 15:06:41+00:00,NaN,NaN,NaN,RT @jww372: I don't have to guess your religio...,...,"I have not failed. I've just found 10,000 ways...",2014-06-05 12:27:57+00:00,1275.0,1427.0,11.0,RT Jww372 : I don't have to guess your religio...,"I have not failed . I 've just found 10,000 wa...",[-1.51896114e-02 1.88419759e-01 -2.08315775e-...,[ 1.77217331e-02 2.25492433e-01 -2.37730935e-...,0
4,4,4,1.768260e+09,mrclydepratt,1.501987e+12,2017-08-06 02:36:24+00:00,NaN,NaN,NaN,RT @Shareblue: Pence and his lawyers decided w...,...,Life is a beautiful struggle. Seek enlightenme...,2013-09-07 19:16:06+00:00,1996.0,847.0,23.0,RT Shareblue : Pence and his lawyers decided w...,Life is a beautiful struggle . Seek enlightenm...,[-3.99168544e-02 8.63239989e-02 -9.17898118e-...,[-4.56326157e-02 1.99148685e-01 -1.06022984e-...,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181492,203484,203477,1.518857e+09,nojonathonno,1.478002e+12,2016-11-01 12:13:06+00:00,0.0,False,0.0,"RT @AndreaChalupa: In intel circles, the story...",...,Strive not to be a success but rather to be of...,2013-06-15 08:47:02+00:00,2170.0,440.0,8.0,"RT Andreachalupa : In intel circles , the stor...",Strive not to be a success but rather to be of...,[-9.79978219e-02 1.21391125e-01 1.75569337e-...,[-0.026988 0.20653379 -0.14419164 -0.060421...,0
181493,203485,203478,2.587101e+09,judelambertusa,1.434589e+12,2015-06-18 01:04:35+00:00,NaN,NaN,NaN,RT @KansasCityDNews: Tonganoxie police: Middle...,...,God. Country. Family. #tcot\n#RedNationRising ...,2014-06-06 13:58:27+00:00,939.0,1525.0,21.0,RT Kansascitydnews : Tonganoxie police : Middl...,God . Country . Family . tcot RedNationRising...,[-3.51074934e-02 1.64820999e-01 -7.04396665e-...,[-9.62959081e-02 1.18785359e-01 1.19527252e-...,0
181494,203486,203479,2.671070e+09,patriotblake,1.484074e+12,2017-01-10 18:50:48+00:00,NaN,NaN,NaN,RT @signsinyork: Getting the right #company lo...,...,"Big Government=corruption, #NRA, Conservative,...",2014-07-04 08:01:06+00:00,3533.0,2286.0,38.0,RT Signsinyork : Getting the right company log...,"Big Government = corruption , NRA , Conservati...",[ 2.64568850e-02 1.75231159e-01 -2.21504122e-...,[-2.33697653e-01 1.76734313e-01 -1.51604200e-...,0
181495,203487,203480,2.630842e+09,dailysandiego,1.479679e+12,2016-11-20 21:49:07+00:00,0.0,False,0.0,The Latest: Obama affirms continuity of ties w...,...,"Follow for San Diego's breaking news, special ...",2014-06-22 08:43:22+00:00,2.0,5435.0,219.0,The Latest : Obama affirms continuity of ties ...,"Follow for San Diego's breaking news , special...",[-7.84273371e-02 8.10301676e-02 -3.99266742e-...,[-1.33578852e-01 2.43973389e-01 -2.49353722e-...,0
181496,203488,203481,1.680366e+09,willisbonnerr,1.482188e+12,2016-12-19 23:00:17+00:00,NaN,NaN,NaN,RT @futureguru100: U cant just Upload a CD onl...,...,You miss 100% of the shots you don’t take,2013-08-18 10:05:28+00:00,1365.0,470.0,7.0,RT Futureguru100 : U ca nt just Upload a CD on...,You miss 100 % of the shots you don't take,[-3.64735574e-02 9.87934545e-02 -1.43193364e-...,[-1.81022823e-01 2.69854099e-01 -2.48708472e-...,0

In [41]:
nef_t['creation_delta'] = nef_t['tweet_date'] - nef_t['account_creation_date']
nef_t['creation_delta'] = [delta.days for delta in nef_t['creation_delta']]
nef_t

,Unnamed: 0,Unnamed: 0.1,user_id,user_handle,created_at_x,tweet_date,retweet_count,retweeted,favorite_count,text,...,account_creation_date,favourites_count,friends_count,listed_count,p_text,p_desc,text_vecs,desc_vecs,in_reply,creation_delta
0,0,0,1.868981e+09,ryanmaxwell_1,1.458672e+12,2016-03-22 18:31:42+00:00,NaN,NaN,NaN,#IslamKills Are you trying to say that there w...,...,2013-09-15 19:45:16+00:00,1102.0,1990.0,25.0,IslamKills Are you trying to say that there we...,Conservative . sports fan . Doing what I love ...,[-9.75581333e-02 8.62012357e-02 -1.48128569e-...,[ 6.14243466e-03 2.21205026e-01 -9.53677520e-...,0,918
1,1,1,2.571870e+09,detroitdailynew,1.476133e+12,2016-10-10 20:57:00+00:00,0.0,False,0.0,"Clinton: Trump should’ve apologized more, atta...",...,2014-05-30 07:24:00+00:00,4.0,5144.0,193.0,"Clinton : Trump should ’ve apologized more , a...","Local news , sports , business , politics , en...",[-2.54299581e-01 2.08115086e-01 -5.42564988e-...,[-7.22378492e-02 3.59070897e-01 1.65857021e-...,0,864
2,2,2,1.710805e+09,cookncooks,1.487767e+12,2017-02-22 12:43:43+00:00,NaN,NaN,NaN,RT @ltapoll: Who was/is the best president of ...,...,2013-08-29 19:45:40+00:00,2447.0,1454.0,15.0,RT Ltapoll : Who was / is the best president o...,"HI FBI ! ! ! TRUMP , Trump2016 , Realdonaldtru...",[-6.26463490e-03 2.45223805e-01 4.85288352e-...,[-7.92677626e-02 3.60640109e-01 -2.16643270e-...,0,1272
3,3,3,2.584153e+09,queenofthewo,1.482765e+12,2016-12-26 15:06:41+00:00,NaN,NaN,NaN,RT @jww372: I don't have to guess your religio...,...,2014-06-05 12:27:57+00:00,1275.0,1427.0,11.0,RT Jww372 : I don't have to guess your religio...,"I have not failed . I 've just found 10,000 wa...",[-1.51896114e-02 1.88419759e-01 -2.08315775e-...,[ 1.77217331e-02 2.25492433e-01 -2.37730935e-...,0,935
4,4,4,1.768260e+09,mrclydepratt,1.501987e+12,2017-08-06 02:36:24+00:00,NaN,NaN,NaN,RT @Shareblue: Pence and his lawyers decided w...,...,2013-09-07 19:16:06+00:00,1996.0,847.0,23.0,RT Shareblue : Pence and his lawyers decided w...,Life is a beautiful struggle . Seek enlightenm...,[-3.99168544e-02 8.63239989e-02 -9.17898118e-...,[-4.56326157e-02 1.99148685e-01 -1.06022984e-...,0,1428
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181492,203484,203477,1.518857e+09,nojonathonno,1.478002e+12,2016-11-01 12:13:06+00:00,0.0,False,0.0,"RT @AndreaChalupa: In intel circles, the story...",...,2013-06-15 08:47:02+00:00,2170.0,440.0,8.0,"RT Andreachalupa : In intel circles , the stor...",Strive not to be a success but rather to be of...,[-9.79978219e-02 1.21391125e-01 1.75569337e-...,[-0.026988 0.20653379 -0.14419164 -0.060421...,0,1235
181493,203485,203478,2.587101e+09,judelambertusa,1.434589e+12,2015-06-18 01:04:35+00:00,NaN,NaN,NaN,RT @KansasCityDNews: Tonganoxie police: Middle...,...,2014-06-06 13:58:27+00:00,939.0,1525.0,21.0,RT Kansascitydnews : Tonganoxie police : Middl...,God . Country . Family . tcot RedNationRising...,[-3.51074934e-02 1.64820999e-01 -7.04396665e-...,[-9.62959081e-02 1.18785359e-01 1.19527252e-...,0,376
181494,203486,203479,2.671070e+09,patriotblake,1.484074e+12,2017-01-10 18:50:48+00:00,NaN,NaN,NaN,RT @signsinyork: Getting the right #company lo...,...,2014-07-04 08:01:06+00:00,3533.0,2286.0,38.0,RT Signsinyork : Getting the right company log...,"Big Government = corruption , NRA , Conservati...",[ 2.64568850e-02 1.75231159e-01 -2.21504122e-...,[-2.33697653e-01 1.76734313e-01 -1.51604200e-...,0,921
181495,203487,203480,2.630842e+09,dailysandiego,1.479679e+12,2016-11-20 21:49:07+00:00,0.0,False,0.0,The Latest: Obama affirms continuity of ties w...,...,2014-06-22 08:43:22+00:00,2.0,5435.0,219.0,The Latest : Obama affirms continuity of ties ...,"Follow for San Diego's breaking news , special...",[-7.84273371e-02 8.10301676e-02 -3.99266742e-...,[-1.33578852e-01 2.43973389e-01 -2.49353722e-...,0,882
181496,203488,203481,1.680366e+09,willisbonnerr,1.482188e+12,2016-12-19 23:00:17+00:00,NaN,NaN,NaN,RT @futureguru100: U cant just Upload a CD onl...,...,2013-08-18 10:05:28+00:00,1365.0,470.0,7.0,RT Futureguru100 : U ca nt just Upload a CD on...,You miss 100 % of the shots you don't take,[-3.64735574e-02 9.87934545e-02 -1.43193364e-...,[-1.81022823e-01 2.69854099e-01 -2.48708472e-...,0,1219

In [42]:
norm_t['account_creation_date'].max()

KeyError: 'account_creation_date'

In [43]:
norm_t.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12289 entries, 0 to 55386
Data columns (total 39 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               12289 non-null  object
 1   t_id                     12289 non-null  object
 2   t_text                   12289 non-null  object
 3   t_created_at             12289 non-null  datetime64[ns, UTC]
 4   t_hashtags               12289 non-null  object
 5   t_mentions               12289 non-null  object
 6   t_urls                   12289 non-null  object
 7   t_source                 12289 non-null  object
 8   t_lang                   12289 non-null  object
 9   t_favorite_count         12289 non-null  object
 10  t_retweet_count          12289 non-null  object
 11  t_retweeted              12289 non-null  object
 12  t_retweet_status_id      12289 non-null  object
 13  t_in_reply_to_status_id  12289 non-null  float64
 14  user_id                  12289 non-null  float64
 15  user_name                12289 non-null  object
 16  user_handle              12289 non-null  object
 17  user_location            12289 non-null  object
 18  user_desc                10278 non-null  object
 19  user_verified            12289 non-null  object
 20  followers_count          12289 non-null  float64
 21  user_status_count        12289 non-null  float64
 22  user_friend_count        12289 non-null  float64
 23  user_favorites_count     12289 non-null  float64
 24  user_listed_count        12289 non-null  float64
 25  user_protected           12289 non-null  object
 26  user_created_at          12289 non-null  datetime64[ns, UTC]
 27  mentions                 12289 non-null  object
 28  hashtags                 12289 non-null  object
 29  urls                     12289 non-null  object
 30  emojis                   12289 non-null  object
 31  emoji_count              12289 non-null  float64
 32  emoji_repeated           12289 non-null  object
 33  in_reply                 12289 non-null  float64
 34  text                     12289 non-null  object
 35  desc                     10278 non-null  object
 36  desc_vecs                12289 non-null  object
 37  text_vecs                12289 non-null  object
 38  creation_delta           12289 non-null  int64
dtypes: datetime64[ns, UTC](2), float64(9), int64(1), object(27)
memory usage: 3.8+ MB

In [44]:
nef_t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181497 entries, 0 to 181496
Data columns (total 37 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             181497 non-null  int64
 1   Unnamed: 0.1           181497 non-null  int64
 2   user_id                181497 non-null  float64
 3   user_handle            181497 non-null  object
 4   created_at_x           181497 non-null  float64
 5   tweet_date             181497 non-null  datetime64[ns, UTC]
 6   retweet_count          50192 non-null   float64
 7   retweeted              50192 non-null   object
 8   favorite_count         50192 non-null   float64
 9   text                   181497 non-null  object
 10  tweet_id               179724 non-null  float64
 11  source                 50192 non-null   object
 12  hashtags               181497 non-null  object
 13  expanded_urls          181497 non-null  object
 14  posted                 181497 non-null  object
 15  mentions               181497 non-null  object
 16  retweeted_status_id    38552 non-null   float64
 17  in_reply_to_status_id  127 non-null     float64
 18  id                     181497 non-null  float64
 19  location               164338 non-null  object
 20  name                   181497 non-null  object
 21  followers_count        181497 non-null  float64
 22  statuses_count         181497 non-null  float64
 23  time_zone              181282 non-null  object
 24  verified               181497 non-null  int64
 25  lang                   181497 non-null  object
 26  description            172615 non-null  object
 27  account_creation_date  181497 non-null  datetime64[ns, UTC]
 28  favourites_count       181497 non-null  float64
 29  friends_count          181497 non-null  float64
 30  listed_count           181497 non-null  float64
 31  p_text                 181497 non-null  object
 32  p_desc                 172615 non-null  object
 33  text_vecs              181497 non-null  object
 34  desc_vecs              181497 non-null  object
 35  in_reply               181497 non-null  int64
 36  creation_delta         181497 non-null  int64
dtypes: datetime64[ns, UTC](2), float64(13), int64(5), object(17)
memory usage: 51.2+ MB

In [45]:
#I would've sworn I did the same emoji thing to nef_tweets as norm_tweets
nef_t['mentions'] #Now I have to make sure I re-do it AND make sure this version contains the mentions fix to catch the
#retweets.

0                        []
1                        []
2                        []
3                        []
4                        []
                ...
181492    ["andreachalupa"]
181493                   []
181494                   []
181495                   []
181496                   []
Name: mentions, Length: 181497, dtype: object

In [47]:
nef_t[['text', 'mentions','retweeted_status_id']] #Yeah it isn't here - nor is whether it's a retweet.
#I have to fix this and do emojis. Also needs the same url thing so that can be fixed as one-hot-encoding.

,text,mentions,retweeted_status_id
0,#IslamKills Are you trying to say that there w...,[],NaN
1,"Clinton: Trump should’ve apologized more, atta...",[],NaN
2,RT @ltapoll: Who was/is the best president of ...,[],NaN
3,RT @jww372: I don't have to guess your religio...,[],NaN
4,RT @Shareblue: Pence and his lawyers decided w...,[],NaN
...,...,...,...
181492,"RT @AndreaChalupa: In intel circles, the story...","[""andreachalupa""]",7.932635e+17
181493,RT @KansasCityDNews: Tonganoxie police: Middle...,[],NaN
181494,RT @signsinyork: Getting the right #company lo...,[],NaN
181495,The Latest: Obama affirms continuity of ties w...,[],NaN
181496,RT @futureguru100: U cant just Upload a CD onl...,[],NaN

In [53]:
max_t = norm_t['t_created_at'].max()

In [62]:
min_t = norm_t['t_created_at'].min()
min_t

Timestamp('2016-08-10 17:46:11+0000', tz='UTC')

In [ ]:
#Right so it seems like I should apply these same bounds to the nef tweets and see how many that leaves me with.

In [51]:
nef_t['tweet_date'].max()

Timestamp('2017-08-15 09:57:32+0000', tz='UTC')

In [52]:
nef_t['tweet_date'].min()

Timestamp('2014-07-14 18:04:55+0000', tz='UTC')

In [58]:
nef_t['within_range'] = [date >= min_t and date <= max_t for date in nef_t['tweet_date']]

In [60]:
nef_t[nef_t['within_range'] == True]['tweet_date'].max()

Timestamp('2016-10-31 18:34:06+0000', tz='UTC')

In [61]:
nef_t[nef_t['within_range'] == True]['tweet_date'].min()

Timestamp('2016-08-10 17:48:10+0000', tz='UTC')

In [ ]:
#Yeah this seems more than reasonable - it's still a problem that the dates within that range are less than random
#for the normal tweets but maybe I could fix that somehow. Still, better than it was. Now just looking to add mentions
#and emojis from an existing csv.

In [117]:
nefarious_emojis = pd.read_csv('nefarious_tweets.csv')
nefarious_emojis.info()

/Users/elizabethrogers/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (0,3,5,6,15,16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203489 entries, 0 to 203488
Data columns (total 33 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             203489 non-null  object
 1   user_id                195423 non-null  float64
 2   user_handle            203488 non-null  object
 3   created_at_x           203467 non-null  object
 4   created_str            203467 non-null  object
 5   retweet_count          58089 non-null   object
 6   retweeted              203488 non-null  object
 7   favorite_count         58089 non-null   float64
 8   text                   203461 non-null  object
 9   tweet_id               201168 non-null  float64
 10  source                 58083 non-null   object
 11  hashtags               203482 non-null  object
 12  expanded_urls          203482 non-null  object
 13  posted                 203482 non-null  object
 14  mentions               203482 non-null  object
 15  retweeted_status_id    39651 non-null   object
 16  in_reply_to_status_id  565 non-null     object
 17  id                     195417 non-null  object
 18  location               165428 non-null  object
 19  name                   185650 non-null  object
 20  followers_count        185650 non-null  float64
 21  statuses_count         185650 non-null  float64
 22  time_zone              185179 non-null  object
 23  verified               185650 non-null  object
 24  lang                   185650 non-null  object
 25  description            173789 non-null  object
 26  created_at_y           185644 non-null  object
 27  favourites_count       185644 non-null  float64
 28  friends_count          185644 non-null  float64
 29  listed_count           185644 non-null  float64
 30  emojis                 203476 non-null  object
 31  emoji_count            203476 non-null  float64
 32  emoji_repeated         203476 non-null  object
dtypes: float64(9), object(24)
memory usage: 51.2+ MB

In [214]:
ment_columns = ['tweet_id', 'emojis', 'emoji_count', 'emoji_repeated', 'mentions', 'user_handle']
new_nefarious = nefarious_emojis[ment_columns]

In [215]:
nefarious_emojis['emoji_count'].value_counts()

0.0      191167
1.0        6920
2.0        2214
3.0        1508
4.0         592
5.0         325
6.0         225
7.0         140
8.0         100
9.0          70
10.0         51
12.0         29
11.0         27
13.0         17
15.0         14
14.0         14
18.0          7
21.0          7
20.0          6
16.0          6
17.0          4
19.0          4
25.0          3
26.0          3
30.0          3
34.0          2
45.0          2
27.0          2
41.0          1
29.0          1
79.0          1
22.0          1
33.0          1
40.0          1
76.0          1
24.0          1
81.0          1
70.0          1
111.0         1
92.0          1
36.0          1
28.0          1
Name: emoji_count, dtype: int64

In [216]:
nefarious_emojis['emoji_repeated'].value_counts()

0                  191167
[1]                  6920
[1 1]                1320
[2]                   894
[3]                   738
                    ...
[7 9]                   1
[1 1 2 1 1 1 2]         1
[13  1]                 1
[24]                    1
[14  1  1  1]           1
Name: emoji_repeated, Length: 319, dtype: int64

In [120]:
nef_t[['text','expanded_urls']]

,text,expanded_urls
0,#IslamKills Are you trying to say that there w...,[]
1,"Clinton: Trump should’ve apologized more, atta...","[""http://detne.ws/2e172jF""]"
2,RT @ltapoll: Who was/is the best president of ...,[]
3,RT @jww372: I don't have to guess your religio...,[]
4,RT @Shareblue: Pence and his lawyers decided w...,[]
...,...,...
181492,"RT @AndreaChalupa: In intel circles, the story...",[]
181493,RT @KansasCityDNews: Tonganoxie police: Middle...,[]
181494,RT @signsinyork: Getting the right #company lo...,[]
181495,The Latest: Obama affirms continuity of ties w...,"[""http://www.cbs8.com/story/33754799/the-lates..."
181496,RT @futureguru100: U cant just Upload a CD onl...,[]

In [217]:
new_nefarious

,tweet_id,emojis,emoji_count,emoji_repeated,mentions,user_handle
0,7.123460e+17,[],0.0,0,[],ryanmaxwell_1
1,7.855849e+17,[],0.0,0,[],detroitdailynew
2,8.343832e+17,[],0.0,0,['@ltapoll'],cookncooks
3,8.134006e+17,[],0.0,0,['@jww372'],queenofthewo
4,8.940243e+17,[],0.0,0,"['@Shareblue', '@alisonrose711']",mrclydepratt
...,...,...,...,...,...,...
203484,7.934256e+17,[],0.0,0,['@AndreaChalupa'],nojonathonno
203485,6.113387e+17,[],0.0,0,['@KansasCityDNews'],judelambertusa
203486,8.188929e+17,[],0.0,0,"['@signsinyork', '@smallbusinessuk']",patriotblake
203487,8.004560e+17,[],0.0,0,[],dailysandiego
203488,8.109831e+17,[],0.0,0,['@futureguru100'],willisbonnerr

In [82]:
#attempt = pd.merge(new_nefarious, nef_t, how='inner', on='tweet_id')
#attempt

,tweet_id,emojis,emoji_count,emoji_repeated,mentions_x,Unnamed: 0,Unnamed: 0.1,user_id,user_handle,created_at_x,...,favourites_count,friends_count,listed_count,p_text,p_desc,text_vecs,desc_vecs,in_reply,creation_delta,within_range
0,7.123460e+17,[],0.0,0,[],0,0,1.868981e+09,ryanmaxwell_1,1.458672e+12,...,1102.0,1990.0,25.0,IslamKills Are you trying to say that there we...,Conservative . sports fan . Doing what I love ...,[-9.75581333e-02 8.62012357e-02 -1.48128569e-...,[ 6.14243466e-03 2.21205026e-01 -9.53677520e-...,0,918,False
1,7.855849e+17,[],0.0,0,[],1,1,2.571870e+09,detroitdailynew,1.476133e+12,...,4.0,5144.0,193.0,"Clinton : Trump should ’ve apologized more , a...","Local news , sports , business , politics , en...",[-2.54299581e-01 2.08115086e-01 -5.42564988e-...,[-7.22378492e-02 3.59070897e-01 1.65857021e-...,0,864,True
2,8.343832e+17,[],0.0,0,['@ltapoll'],2,2,1.710805e+09,cookncooks,1.487767e+12,...,2447.0,1454.0,15.0,RT Ltapoll : Who was / is the best president o...,"HI FBI ! ! ! TRUMP , Trump2016 , Realdonaldtru...",[-6.26463490e-03 2.45223805e-01 4.85288352e-...,[-7.92677626e-02 3.60640109e-01 -2.16643270e-...,0,1272,False
3,8.134006e+17,[],0.0,0,['@jww372'],3,3,2.584153e+09,queenofthewo,1.482765e+12,...,1275.0,1427.0,11.0,RT Jww372 : I don't have to guess your religio...,"I have not failed . I 've just found 10,000 wa...",[-1.51896114e-02 1.88419759e-01 -2.08315775e-...,[ 1.77217331e-02 2.25492433e-01 -2.37730935e-...,0,935,False
4,8.940243e+17,[],0.0,0,"['@Shareblue', '@alisonrose711']",4,4,1.768260e+09,mrclydepratt,1.501987e+12,...,1996.0,847.0,23.0,RT Shareblue : Pence and his lawyers decided w...,Life is a beautiful struggle . Seek enlightenm...,[-3.99168544e-02 8.63239989e-02 -9.17898118e-...,[-4.56326157e-02 1.99148685e-01 -1.06022984e-...,0,1428,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4296180,7.934256e+17,[],0.0,0,['@AndreaChalupa'],203484,203477,1.518857e+09,nojonathonno,1.478002e+12,...,2170.0,440.0,8.0,"RT Andreachalupa : In intel circles , the stor...",Strive not to be a success but rather to be of...,[-9.79978219e-02 1.21391125e-01 1.75569337e-...,[-0.026988 0.20653379 -0.14419164 -0.060421...,0,1235,False
4296181,6.113387e+17,[],0.0,0,['@KansasCityDNews'],203485,203478,2.587101e+09,judelambertusa,1.434589e+12,...,939.0,1525.0,21.0,RT Kansascitydnews : Tonganoxie police : Middl...,God . Country . Family . tcot RedNationRising...,[-3.51074934e-02 1.64820999e-01 -7.04396665e-...,[-9.62959081e-02 1.18785359e-01 1.19527252e-...,0,376,False
4296182,8.188929e+17,[],0.0,0,"['@signsinyork', '@smallbusinessuk']",203486,203479,2.671070e+09,patriotblake,1.484074e+12,...,3533.0,2286.0,38.0,RT Signsinyork : Getting the right company log...,"Big Government = corruption , NRA , Conservati...",[ 2.64568850e-02 1.75231159e-01 -2.21504122e-...,[-2.33697653e-01 1.76734313e-01 -1.51604200e-...,0,921,False
4296183,8.004560e+17,[],0.0,0,[],203487,203480,2.630842e+09,dailysandiego,1.479679e+12,...,2.0,5435.0,219.0,The Latest : Obama affirms continuity of ties ...,"Follow for San Diego's breaking news , special...",[-7.84273371e-02 8.10301676e-02 -3.99266742e-...,[-1.33578852e-01 2.43973389e-01 -2.49353722e-...,0,882,False
4296184,8.109831e+17,[],0.0,0,['@futureguru100'],203488,203481,1.680366e+09,willisbonnerr,1.482188e+12,...,1365.0,470.0,7.0,RT Futureguru100 : U ca nt just Upload a CD on...,You miss 100 % of the shots you don't take,[-3.64735574e-02 9.87934545e-02 -1.43193364e-...,[-1.81022823e-01 2.69854099e-01 -2.48708472e-...,0,1219,False

In [87]:
attempt.describe()

,tweet_id,emoji_count,Unnamed: 0,Unnamed: 0.1,user_id,created_at_x,retweet_count,favorite_count,retweeted_status_id,in_reply_to_status_id,id,followers_count,statuses_count,verified,favourites_count,friends_count,listed_count,in_reply,creation_delta
count,1.810520e+05,4.283774e+06,4.296185e+06,4.296185e+06,4.296185e+06,4.296185e+06,50196.000000,50196.000000,3.948600e+04,1.270000e+02,4.296185e+06,4.296185e+06,4.296185e+06,4296185.0,4.296185e+06,4.296185e+06,4.296185e+06,4.296185e+06,4.296185e+06
mean,7.778245e+17,5.298482e-02,1.014041e+05,1.014007e+05,3.520616e+15,1.465786e+12,8.308969,7.396466,7.799615e+17,7.625296e+17,3.520616e+15,1.588619e+04,1.338764e+04,0.0,5.888296e+03,9.339146e+03,1.105432e+02,2.956111e-05,6.339104e+02
std,6.554678e+16,3.417329e-01,5.929090e+04,5.928905e+04,5.020407e+16,1.916994e+10,170.498886,170.163519,2.034839e+16,3.244506e+16,5.020407e+16,1.505664e+04,1.181154e+04,0.0,6.001294e+03,6.668847e+03,1.094756e+02,5.436933e-03,3.086437e+02
min,4.887460e+17,0.000000e+00,0.000000e+00,0.000000e+00,1.871082e+07,1.405361e+12,0.000000,0.000000,7.675590e+16,6.108386e+17,1.871082e+07,0.000000e+00,1.000000e+00,0.0,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,-3.900000e+01
25%,7.703172e+17,0.000000e+00,4.756100e+04,4.756000e+04,2.573225e+09,1.449161e+12,0.000000,0.000000,7.768518e+17,7.579916e+17,2.573225e+09,2.970000e+03,2.826000e+03,0.0,1.165000e+03,3.072000e+03,3.200000e+01,0.000000e+00,3.890000e+02
50%,7.905529e+17,0.000000e+00,1.038230e+05,1.038190e+05,2.882037e+09,1.474885e+12,0.000000,0.000000,7.836709e+17,7.630930e+17,2.882037e+09,1.722200e+04,1.012100e+04,0.0,3.939000e+03,9.033000e+03,9.700000e+01,0.000000e+00,7.130000e+02
75%,8.163223e+17,0.000000e+00,1.515050e+05,1.515010e+05,2.882350e+09,1.480523e+12,0.000000,0.000000,7.890919e+17,7.805216e+17,2.882350e+09,2.094100e+04,2.057600e+04,0.0,8.763000e+03,1.477300e+04,1.300000e+02,0.000000e+00,8.180000e+02
max,8.973968e+17,1.110000e+02,2.034880e+05,2.034810e+05,7.598250e+17,1.502791e+12,20494.000000,26655.000000,8.927026e+17,8.006720e+17,7.598250e+17,6.160900e+04,4.588300e+04,0.0,2.718100e+04,2.560000e+04,5.650000e+02,1.000000e+00,2.865000e+03

In [218]:
new_nefarious

,tweet_id,emojis,emoji_count,emoji_repeated,mentions,user_handle
0,7.123460e+17,[],0.0,0,[],ryanmaxwell_1
1,7.855849e+17,[],0.0,0,[],detroitdailynew
2,8.343832e+17,[],0.0,0,['@ltapoll'],cookncooks
3,8.134006e+17,[],0.0,0,['@jww372'],queenofthewo
4,8.940243e+17,[],0.0,0,"['@Shareblue', '@alisonrose711']",mrclydepratt
...,...,...,...,...,...,...
203484,7.934256e+17,[],0.0,0,['@AndreaChalupa'],nojonathonno
203485,6.113387e+17,[],0.0,0,['@KansasCityDNews'],judelambertusa
203486,8.188929e+17,[],0.0,0,"['@signsinyork', '@smallbusinessuk']",patriotblake
203487,8.004560e+17,[],0.0,0,[],dailysandiego
203488,8.109831e+17,[],0.0,0,['@futureguru100'],willisbonnerr

In [84]:
len(new_nefarious['tweet_id'].unique())
#okay well here's something - how are there any duplicates of tweet_ids. That makes no sense.

200662

In [95]:
len(new_nefarious[new_nefarious['tweet_id'].duplicated().notna()]['tweet_id'])

203489

In [85]:
len(nef_t['tweet_id'].unique()) #Same down here.

179254

In [93]:
len(nef_t[nef_t['tweet_id'].duplicated().notna()]['tweet_id'])

0         7.123460e+17
1         7.855849e+17
2         8.343832e+17
3         8.134006e+17
4         8.940243e+17
              ...
181492    7.934256e+17
181493    6.113387e+17
181494    8.188929e+17
181495    8.004560e+17
181496    8.109831e+17
Name: tweet_id, Length: 181497, dtype: float64

In [97]:
new_nefarious[new_nefarious['tweet_id'].duplicated()]

,tweet_id,emojis,emoji_count,emoji_repeated,mentions
111,NaN,[],0.0,0,[]
157,NaN,[],0.0,0,[]
255,NaN,[],0.0,0,[]
318,NaN,[],0.0,0,[]
445,NaN,[],0.0,0,[]
...,...,...,...,...,...
203142,NaN,[],0.0,0,[]
203210,NaN,[],0.0,0,[]
203214,NaN,[],0.0,0,[]
203365,7.027789e+17,[],0.0,0,"['@chillblueyes71', '@TexanCat']"
203384,NaN,[],0.0,0,['@midnight']

In [122]:
new_nefarious = new_nefarious[new_nefarious['tweet_id'].notna()]
new_nefarious

,tweet_id,emojis,emoji_count,emoji_repeated,mentions
0,7.123460e+17,[],0.0,0,[]
1,7.855849e+17,[],0.0,0,[]
2,8.343832e+17,[],0.0,0,['@ltapoll']
3,8.134006e+17,[],0.0,0,['@jww372']
4,8.940243e+17,[],0.0,0,"['@Shareblue', '@alisonrose711']"
...,...,...,...,...,...
203484,7.934256e+17,[],0.0,0,['@AndreaChalupa']
203485,6.113387e+17,[],0.0,0,['@KansasCityDNews']
203486,8.188929e+17,[],0.0,0,"['@signsinyork', '@smallbusinessuk']"
203487,8.004560e+17,[],0.0,0,[]
203488,8.109831e+17,[],0.0,0,['@futureguru100']

In [124]:
new_nefarious[new_nefarious['tweet_id'].duplicated()]

,tweet_id,emojis,emoji_count,emoji_repeated,mentions
12678,6.976914e+17,[],0.0,0,"['@MarkAlmost', '@jstines3']"
14585,8.018030e+17,[],0.0,0,['@DominicValent']
20028,7.041829e+17,[],0.0,0,['@JeffSanchezz']
22691,8.484771e+17,[],0.0,0,['@KingBone_']
23524,8.108560e+17,[],0.0,0,['@JefLeeson']
...,...,...,...,...,...
201941,7.032298e+17,[],0.0,0,[]
202356,7.293837e+17,[],0.0,0,[]
202687,7.041754e+17,[],0.0,0,['@_NickLuna_']
203093,7.778834e+17,[],0.0,0,['@KathieMrr']
203365,7.027789e+17,[],0.0,0,"['@chillblueyes71', '@TexanCat']"

In [141]:
checker = []
for tweet in new_nefarious.sort_values('tweet_id')['tweet_id']:
    checker.append(tweet)

In [146]:
len(checker)

201168

In [147]:
len(set(checker))

200661

In [150]:
import collections
duplicate = [item for item, count in collections.Counter(checker).items() if count > 1]

In [152]:
new_nefarious[new_nefarious['tweet_id'] == duplicate[0]]

           tweet_id emojis  emoji_count emoji_repeated mentions
69606  6.656797e+17     []          0.0              0       []
84608  6.656797e+17     []          0.0              0       []

In [138]:
nef_t = nef_t[nef_t['tweet_id'].notna()]
nef_t

,Unnamed: 0,Unnamed: 0.1,user_id,user_handle,created_at_x,tweet_date,retweet_count,retweeted,favorite_count,text,...,favourites_count,friends_count,listed_count,p_text,p_desc,text_vecs,desc_vecs,in_reply,creation_delta,within_range
0,0,0,1.868981e+09,ryanmaxwell_1,1.458672e+12,2016-03-22 18:31:42+00:00,NaN,NaN,NaN,#IslamKills Are you trying to say that there w...,...,1102.0,1990.0,25.0,IslamKills Are you trying to say that there we...,Conservative . sports fan . Doing what I love ...,[-9.75581333e-02 8.62012357e-02 -1.48128569e-...,[ 6.14243466e-03 2.21205026e-01 -9.53677520e-...,0,918,False
1,1,1,2.571870e+09,detroitdailynew,1.476133e+12,2016-10-10 20:57:00+00:00,0.0,False,0.0,"Clinton: Trump should’ve apologized more, atta...",...,4.0,5144.0,193.0,"Clinton : Trump should ’ve apologized more , a...","Local news , sports , business , politics , en...",[-2.54299581e-01 2.08115086e-01 -5.42564988e-...,[-7.22378492e-02 3.59070897e-01 1.65857021e-...,0,864,True
2,2,2,1.710805e+09,cookncooks,1.487767e+12,2017-02-22 12:43:43+00:00,NaN,NaN,NaN,RT @ltapoll: Who was/is the best president of ...,...,2447.0,1454.0,15.0,RT Ltapoll : Who was / is the best president o...,"HI FBI ! ! ! TRUMP , Trump2016 , Realdonaldtru...",[-6.26463490e-03 2.45223805e-01 4.85288352e-...,[-7.92677626e-02 3.60640109e-01 -2.16643270e-...,0,1272,False
3,3,3,2.584153e+09,queenofthewo,1.482765e+12,2016-12-26 15:06:41+00:00,NaN,NaN,NaN,RT @jww372: I don't have to guess your religio...,...,1275.0,1427.0,11.0,RT Jww372 : I don't have to guess your religio...,"I have not failed . I 've just found 10,000 wa...",[-1.51896114e-02 1.88419759e-01 -2.08315775e-...,[ 1.77217331e-02 2.25492433e-01 -2.37730935e-...,0,935,False
4,4,4,1.768260e+09,mrclydepratt,1.501987e+12,2017-08-06 02:36:24+00:00,NaN,NaN,NaN,RT @Shareblue: Pence and his lawyers decided w...,...,1996.0,847.0,23.0,RT Shareblue : Pence and his lawyers decided w...,Life is a beautiful struggle . Seek enlightenm...,[-3.99168544e-02 8.63239989e-02 -9.17898118e-...,[-4.56326157e-02 1.99148685e-01 -1.06022984e-...,0,1428,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181492,203484,203477,1.518857e+09,nojonathonno,1.478002e+12,2016-11-01 12:13:06+00:00,0.0,False,0.0,"RT @AndreaChalupa: In intel circles, the story...",...,2170.0,440.0,8.0,"RT Andreachalupa : In intel circles , the stor...",Strive not to be a success but rather to be of...,[-9.79978219e-02 1.21391125e-01 1.75569337e-...,[-0.026988 0.20653379 -0.14419164 -0.060421...,0,1235,False
181493,203485,203478,2.587101e+09,judelambertusa,1.434589e+12,2015-06-18 01:04:35+00:00,NaN,NaN,NaN,RT @KansasCityDNews: Tonganoxie police: Middle...,...,939.0,1525.0,21.0,RT Kansascitydnews : Tonganoxie police : Middl...,God . Country . Family . tcot RedNationRising...,[-3.51074934e-02 1.64820999e-01 -7.04396665e-...,[-9.62959081e-02 1.18785359e-01 1.19527252e-...,0,376,False
181494,203486,203479,2.671070e+09,patriotblake,1.484074e+12,2017-01-10 18:50:48+00:00,NaN,NaN,NaN,RT @signsinyork: Getting the right #company lo...,...,3533.0,2286.0,38.0,RT Signsinyork : Getting the right company log...,"Big Government = corruption , NRA , Conservati...",[ 2.64568850e-02 1.75231159e-01 -2.21504122e-...,[-2.33697653e-01 1.76734313e-01 -1.51604200e-...,0,921,False
181495,203487,203480,2.630842e+09,dailysandiego,1.479679e+12,2016-11-20 21:49:07+00:00,0.0,False,0.0,The Latest: Obama affirms continuity of ties w...,...,2.0,5435.0,219.0,The Latest : Obama affirms continuity of ties ...,"Follow for San Diego's breaking news , special...",[-7.84273371e-02 8.10301676e-02 -3.99266742e-...,[-1.33578852e-01 2.43973389e-01 -2.49353722e-...,0,882,False
181496,203488,203481,1.680366e+09,willisbonnerr,1.482188e+12,2016-12-19 23:00:17+00:00,NaN,NaN,NaN,RT @futureguru100: U cant just Upload a CD onl...,...,1365.0,470.0,7.0,RT Futureguru100 : U ca nt just Upload a CD on...,You miss 100 % of the shots you don't take,[-3.64735574e-02 9.87934545e-02 -1.43193364e-...,[-1.81022823e-01 2.69854099e-01 -2.48708472e-...,0,1219,False

In [145]:
nef_t[nef_t['tweet_id'].duplicated()]['tweet_id']

11320     6.976914e+17
13015     8.018030e+17
17885     7.041829e+17
20246     8.484771e+17
20986     8.108560e+17
              ...
180010    6.989552e+17
180103    7.032298e+17
180489    7.293837e+17
181145    7.778834e+17
181387    7.027789e+17
Name: tweet_id, Length: 471, dtype: float64

In [158]:
nef_t[nef_t['tweet_id'] == duplicate[3]]

,Unnamed: 0,Unnamed: 0.1,user_id,user_handle,created_at_x,tweet_date,retweet_count,retweeted,favorite_count,text,...,favourites_count,friends_count,listed_count,p_text,p_desc,text_vecs,desc_vecs,in_reply,creation_delta,within_range
33160,37242,37242,2.590038e+09,patriotraphael,1.449158e+12,2015-12-03 15:58:50+00:00,NaN,NaN,NaN,I feel that the Second Amendment is the right ...,...,989.0,1555.0,19.0,I feel that the Second Amendment is the right ...,Pissed off patriot . 2A supporter tcot WakeUp...,[ 1.07802972e-02 6.04716241e-02 -2.10995361e-...,[-1.52799234e-01 -9.08867866e-02 -1.68260075e-...,0,543,False
56376,63222,63219,2.572058e+09,leroylovesusa,1.449158e+12,2015-12-03 15:58:50+00:00,NaN,NaN,NaN,I feel that the Second Amendment is the right ...,...,976.0,1321.0,9.0,I feel that the Second Amendment is the right ...,Conservative tcot pjnet ReTweets ≠ Endorsement...,[ 1.07802972e-02 6.04716241e-02 -2.10995361e-...,[-1.06908873e-01 -2.35001221e-02 6.11113720e-...,0,552,False

In [ ]:
#Okay. So. That's the same tweet with the same id made by different accounts at the exact same time. Purging that 
#would surely be like purging a smoking gun. That's got to be the surest sign of a bot. The problem is that it's
#breaking my organizational scheme. I didn't even know a tweet_id could be associated with more than one tweet.
#I guess neither is within the range of my study anyway. Jeez. Maybe this is something to be pursued in a different
#study. This has been one of my major problems in dealing with the troll tweet data - I'm not sure what's an error or
#what represents lack of information that came at the stage of collection and what's a clear red flag. So in trying to
#clean the data to make it possible to process, I am likely losing at least some very useful information. Information 
#about the collection process would be extremely valuable.

In [159]:
nef_t[nef_t['tweet_id'] == duplicate[4]]

,Unnamed: 0,Unnamed: 0.1,user_id,user_handle,created_at_x,tweet_date,retweet_count,retweeted,favorite_count,text,...,favourites_count,friends_count,listed_count,p_text,p_desc,text_vecs,desc_vecs,in_reply,creation_delta,within_range
132789,148923,148919,2.540882e+09,heyits_toby,1.449159e+12,2015-12-03 16:12:15+00:00,NaN,NaN,NaN,#Prayers4California people kill people..not gu...,...,1011.0,1676.0,10.0,Prayers4California people kill people .. not g...,"Guardian of the Animals , Conservative , DIY'e...",[-2.65085995e-01 4.22311276e-02 -1.59292504e-...,[-1.40334189e-01 9.51404348e-02 -9.05320123e-...,0,549,False

In [160]:
checker2 = []
for tweet in nef_t.sort_values('tweet_id')['tweet_id']:
    checker2.append(tweet)

In [161]:
duplicate2 = [item for item, count in collections.Counter(checker2).items() if count > 1]

In [162]:
print(len(duplicate2), len(duplicate)) #That makes sense with what I'm seeing about - some of the duplicates from the
#first had already been purged by the creation of the second.

373 407

In [164]:
nef_t[nef_t['tweet_id'] == duplicate2[1]]

,Unnamed: 0,Unnamed: 0.1,user_id,user_handle,created_at_x,tweet_date,retweet_count,retweeted,favorite_count,text,...,favourites_count,friends_count,listed_count,p_text,p_desc,text_vecs,desc_vecs,in_reply,creation_delta,within_range
75366,84509,84505,1.656686e+09,jeannemccarthy0,1.449160e+12,2015-12-03 16:21:47+00:00,NaN,NaN,NaN,RT @Logan_WhatsUp: Go away from California. Co...,...,1863.0,3420.0,35.0,RT Logan_whatsup : Go away from California . C...,"Conservative domestic goddess devoted to God ,...",[ 4.69484366e-02 1.07346557e-01 -1.30870268e-...,[-1.59475952e-01 1.48936495e-01 4.46374007e-...,0,846,False
90791,101833,101829,1.656686e+09,jeannemccarthy0,1.449160e+12,2015-12-03 16:21:47+00:00,NaN,NaN,NaN,RT @Logan_WhatsUp: Go away from California. Co...,...,1863.0,3420.0,35.0,RT Logan_whatsup : Go away from California . C...,"Conservative domestic goddess devoted to God ,...",[ 4.69484366e-02 1.07346557e-01 -1.30870268e-...,[-1.59475952e-01 1.48936495e-01 4.46374007e-...,0,846,False

In [ ]:
#Alright this one seems to be an actual duplicate though I'm sure something hinky was going on. Also outside of my
#study window. I guess I should see how many are duplicates after removing the outside examples.

In [167]:
nef_t[nef_t['tweet_id'] == duplicate2[3]] #Another that's clearly a bot - tweet time exactly the same, same text,
#different accounts. - Accounts created 2 days apart.

,Unnamed: 0,Unnamed: 0.1,user_id,user_handle,created_at_x,tweet_date,retweet_count,retweeted,favorite_count,text,...,favourites_count,friends_count,listed_count,p_text,p_desc,text_vecs,desc_vecs,in_reply,creation_delta,within_range
55709,62484,62481,1.647000e+09,hollandpatrickk,1.449160e+12,2015-12-03 16:33:54+00:00,NaN,NaN,NaN,what tragic events taking place nowadays... #p...,...,324.0,429.0,6.0,what tragic events taking place nowadays ... p...,"Lover of Life and Israel , Jesus and Country m...",[-1.34742400e-02 1.95961714e-01 -4.40655276e-...,[-1.57341063e-01 1.66221768e-01 6.01452738e-...,0,850,False
140370,157440,157436,1.651694e+09,cynthiamhunter,1.449160e+12,2015-12-03 16:33:54+00:00,NaN,NaN,NaN,what tragic events taking place nowadays... #p...,...,4532.0,451.0,23.0,what tragic events taking place nowadays ... p...,Christian Conservative ProConstitution 2A ProL...,[-1.34742400e-02 1.95961714e-01 -4.40655276e-...,[-1.28185451e-01 1.13791227e-03 -1.41158160e-...,0,848,False

In [168]:
nef_period = nef_t[nef_t['within_range'] == True]
nef_period

,Unnamed: 0,Unnamed: 0.1,user_id,user_handle,created_at_x,tweet_date,retweet_count,retweeted,favorite_count,text,...,favourites_count,friends_count,listed_count,p_text,p_desc,text_vecs,desc_vecs,in_reply,creation_delta,within_range
1,1,1,2.571870e+09,detroitdailynew,1.476133e+12,2016-10-10 20:57:00+00:00,0.0,False,0.0,"Clinton: Trump should’ve apologized more, atta...",...,4.0,5144.0,193.0,"Clinton : Trump should ’ve apologized more , a...","Local news , sports , business , politics , en...",[-2.54299581e-01 2.08115086e-01 -5.42564988e-...,[-7.22378492e-02 3.59070897e-01 1.65857021e-...,0,864,True
5,5,5,2.882014e+09,giselleevns,1.477496e+12,2016-10-26 15:33:58+00:00,NaN,NaN,NaN,"@ModicaGiunta me, too!",...,9122.0,21953.0,113.0,"Modicagiunta me , too !",if you don't work hard to achieve your dreams ...,[-1.34646401e-01 3.14652026e-01 -1.33460000e-...,[-4.47446369e-02 2.51390547e-01 -3.30337495e-...,0,728,True
8,8,8,1.679279e+09,ameliebaldwin,1.477792e+12,2016-10-30 01:48:19+00:00,0.0,False,0.0,RT @AriaWilsonGOP: 3 Women Face Charges After ...,...,14540.0,1930.0,160.0,RT Ariawilsongop : 3 Women Face Charges After ...,"Wife , Mother , Patriot , Friend",[-1.12652123e-01 1.57321408e-01 -1.17146656e-...,[-3.59312855e-02 3.11267316e-01 -1.35997280e-...,0,1169,True
18,21,21,1.660375e+09,ilovesarahrich,1.477820e+12,2016-10-30 09:29:28+00:00,0.0,False,0.0,"RT @bgg2wl: Walmart, Michelle Obama and The Ha...",...,2021.0,974.0,6.0,"RT Bgg2wl : Walmart , Michelle Obama and The H...",Just trying to love the life I'm living & the ...,[-1.10773839e-01 2.16222301e-01 -6.32913113e-...,[ 2.33638939e-02 1.79698288e-01 -1.81564108e-...,0,1176,True
22,28,28,2.882014e+09,giselleevns,1.477053e+12,2016-10-21 12:30:53+00:00,NaN,NaN,NaN,When I remember it's #Friyay https://t.co/yjBT...,...,9122.0,21953.0,113.0,When I remember it's Friyay T,if you don't work hard to achieve your dreams ...,[ 6.13904074e-02 3.08178574e-01 -2.02425286e-...,[-4.47446369e-02 2.51390547e-01 -3.30337495e-...,0,723,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181473,203461,203454,1.692501e+09,cornellburchet,1.473437e+12,2016-09-09 16:08:43+00:00,0.0,False,0.0,"RT @JoyAnnReid: IOW, during the primaries Kell...",...,2166.0,720.0,19.0,"RT Joyannreid : IOW , during the primaries Kel...","A world for a few , a few to justice , lands i...",[ 1.19242705e-02 1.58835635e-01 3.90442349e-...,[-7.88898841e-02 8.63750875e-02 -8.04065093e-...,0,1113,True
181475,203463,203456,2.943515e+09,screamymonkey,1.475085e+12,2016-09-28 17:56:46+00:00,0.0,False,0.0,#TopNews Senate overwhelmingly rejects Obama v...,...,1165.0,14051.0,44.0,TopNews Senate overwhelmingly rejects Obama ve...,First frontier . News aggreagtor .,[-9.88186374e-02 1.22007817e-01 3.67550552e-...,[ 7.90153369e-02 1.69558331e-01 -4.33810055e-...,0,641,True
181483,203475,203468,2.882350e+09,chrixmorgan,1.472051e+12,2016-08-24 14:56:10+00:00,0.0,False,0.0,RT @Goodluckbeer: Fentanyl filled Trump suppor...,...,6268.0,9033.0,97.0,RT Goodluckbeer : Fentanyl filled Trump suppor...,I'm so funny . I can make myself laugh,[ 2.09579784e-02 1.54693902e-01 -2.28575412e-...,[-5.73518053e-02 2.25625068e-01 -3.89564008e-...,0,664,True
181485,203477,203470,2.570017e+09,onlinememphis,1.475197e+12,2016-09-30 00:58:11+00:00,0.0,False,0.0,ELECTION GUIDE: Federal and State elections ht...,...,3.0,5751.0,113.0,ELECTION GUIDE : Federal and State elections T,"Breaking news , weather , traffic and more for...",[-1.14170499e-01 2.69477516e-02 1.97396249e-...,[-6.70233518e-02 3.25602353e-01 -1.40968829e-...,0,854,True
181489,203481,203474,1.688371e+09,watchmewalkin,1.476623e+12,2016-10-16 13:08:21+00:00,0.0,False,0.0,RT @BuzzFeed: This 22-year-old got out of an a...,...,2214.0,547.0,10.0,RT Buzzfeed : This 22 - year - old got out of ...,Working - Music geek + Blacker than BlackHole,[-1.64007515e-01 2.00706407e-01 -1.06516197e-...,[-9.92912501e-02 8.92653689e-02 -1.39007494e-...,0,1151,True

In [169]:
checker3 = []
for tweet in nef_period.sort_values('tweet_id')['tweet_id']:
    checker3.append(tweet)

In [170]:
duplicate3 = [item for item, count in collections.Counter(checker3).items() if count > 1]

In [171]:
print(len(duplicate3))

75

In [172]:
nef_period[nef_period['tweet_id'] == duplicate3[0]]

,Unnamed: 0,Unnamed: 0.1,user_id,user_handle,created_at_x,tweet_date,retweet_count,retweeted,favorite_count,text,...,favourites_count,friends_count,listed_count,p_text,p_desc,text_vecs,desc_vecs,in_reply,creation_delta,within_range
84836,95128,95124,1.657695e+09,daileyjadon,1.471258e+12,2016-08-15 10:44:32+00:00,NaN,NaN,NaN,RT @Gamiliell: All things are difficult before...,...,1298.0,1485.0,13.0,RT Gamiliell : All things are difficult before...,"You only live once , but if you do it right , ...",[-1.09106526e-01 1.76026911e-01 -1.76665664e-...,[-1.68730821e-05 2.99019247e-01 -2.70933509e-...,0,1101,True
109849,123166,123162,1.657695e+09,daileyjadon,1.471258e+12,2016-08-15 10:44:32+00:00,NaN,NaN,NaN,RT @Gamiliell: All things are difficult before...,...,1298.0,1485.0,13.0,RT Gamiliell : All things are difficult before...,"You only live once , but if you do it right , ...",[-1.09106526e-01 1.76026911e-01 -1.76665664e-...,[-1.68730821e-05 2.99019247e-01 -2.70933509e-...,0,1101,True

In [173]:
nef_period[nef_period['tweet_id'] == duplicate3[1]]

,Unnamed: 0,Unnamed: 0.1,user_id,user_handle,created_at_x,tweet_date,retweet_count,retweeted,favorite_count,text,...,favourites_count,friends_count,listed_count,p_text,p_desc,text_vecs,desc_vecs,in_reply,creation_delta,within_range
9378,10498,10498,2.541946e+09,mr_clampin,1.471261e+12,2016-08-15 11:39:00+00:00,NaN,NaN,NaN,RT @Gamiliell: All things are difficult before...,...,2403.0,1770.0,13.0,RT Gamiliell : All things are difficult before...,NaN,[-1.09106526e-01 1.76026911e-01 -1.76665664e-...,[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...,0,804,True
133631,149868,149864,2.541946e+09,mr_clampin,1.471261e+12,2016-08-15 11:39:00+00:00,NaN,NaN,NaN,RT @Gamiliell: All things are difficult before...,...,2403.0,1770.0,13.0,RT Gamiliell : All things are difficult before...,NaN,[-1.09106526e-01 1.76026911e-01 -1.76665664e-...,[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...,0,804,True

In [176]:
nef_period[nef_period['tweet_id'] == duplicate3[2]]

,Unnamed: 0,Unnamed: 0.1,user_id,user_handle,created_at_x,tweet_date,retweet_count,retweeted,favorite_count,text,...,favourites_count,friends_count,listed_count,p_text,p_desc,text_vecs,desc_vecs,in_reply,creation_delta,within_range
152039,170445,170440,2.533002e+09,jasper_fly,1.471263e+12,2016-08-15 12:10:52+00:00,NaN,NaN,NaN,RT @Gamiliell: All things are difficult before...,...,2416.0,1782.0,15.0,RT Gamiliell : All things are difficult before...,hashtagwarrior and your mom knows it !,[-1.09106526e-01 1.76026911e-01 -1.76665664e-...,[-1.04978018e-01 2.75415421e-01 -1.74618140e-...,0,808,True
176725,198124,198117,2.533002e+09,jasper_fly,1.471263e+12,2016-08-15 12:10:52+00:00,NaN,NaN,NaN,RT @Gamiliell: All things are difficult before...,...,2416.0,1782.0,15.0,RT Gamiliell : All things are difficult before...,hashtagwarrior and your mom knows it !,[-1.09106526e-01 1.76026911e-01 -1.76665664e-...,[-1.04978018e-01 2.75415421e-01 -1.74618140e-...,0,808,True

In [177]:
nef_period[nef_period['tweet_id'] == duplicate3[3]]

,Unnamed: 0,Unnamed: 0.1,user_id,user_handle,created_at_x,tweet_date,retweet_count,retweeted,favorite_count,text,...,favourites_count,friends_count,listed_count,p_text,p_desc,text_vecs,desc_vecs,in_reply,creation_delta,within_range
71446,80110,80106,2.533222e+09,lazykstafford,1.471515e+12,2016-08-18 10:08:02+00:00,0.0,False,0.0,RT @A_M_Perez: Did Obama Cry? #Lavoy Killed by...,...,1509.0,1818.0,30.0,RT A_m_perez : Did Obama Cry ? Lavoy Killed by...,I'M AN AMERICAN LOVING PATRIOT - MARRIED TO A ...,[-1.23142995e-01 8.44566673e-02 6.46127835e-...,[-1.20908402e-01 1.38163313e-01 -2.60122474e-...,0,834,True
112039,125646,125642,2.533222e+09,lazykstafford,1.471515e+12,2016-08-18 10:08:02+00:00,0.0,False,0.0,RT @A_M_Perez: Did Obama Cry? #Lavoy Killed by...,...,1509.0,1818.0,30.0,RT A_m_perez : Did Obama Cry ? Lavoy Killed by...,I'M AN AMERICAN LOVING PATRIOT - MARRIED TO A ...,[-1.23142995e-01 8.44566673e-02 6.46127835e-...,[-1.20908402e-01 1.38163313e-01 -2.60122474e-...,0,834,True

In [178]:
nef_period[nef_period['tweet_id'] == duplicate3[4]] #####BOT

,Unnamed: 0,Unnamed: 0.1,user_id,user_handle,created_at_x,tweet_date,retweet_count,retweeted,favorite_count,text,...,favourites_count,friends_count,listed_count,p_text,p_desc,text_vecs,desc_vecs,in_reply,creation_delta,within_range
75815,85019,85015,2.620870e+09,puredavie,1.472056e+12,2016-08-24 16:24:11+00:00,NaN,NaN,NaN,Banning most things #MustBeBanned,...,1055.0,1603.0,14.0,Banning most things MustBeBanned,I would rather die of passion than of boredom .,[ 2.32827477e-02 5.67224994e-02 -2.54981995e-...,[-2.97702011e-02 2.67920494e-01 -4.38833013e-...,0,797,True
124876,140073,140069,2.616345e+09,amandavgreen,1.472056e+12,2016-08-24 16:24:11+00:00,NaN,NaN,NaN,Banning most things #MustBeBanned,...,2672.0,3303.0,37.0,Banning most things MustBeBanned,You have to go through the worst to arrive at ...,[ 2.32827477e-02 5.67224994e-02 -2.54981995e-...,[-1.93766635e-02 1.92465499e-01 -1.79485753e-...,0,799,True

In [179]:
nef_period[nef_period['tweet_id'] == duplicate3[5]] #####BOT

,Unnamed: 0,Unnamed: 0.1,user_id,user_handle,created_at_x,tweet_date,retweet_count,retweeted,favorite_count,text,...,favourites_count,friends_count,listed_count,p_text,p_desc,text_vecs,desc_vecs,in_reply,creation_delta,within_range
75798,85001,84997,1.657695e+09,daileyjadon,1.472056e+12,2016-08-24 16:32:29+00:00,NaN,NaN,NaN,Fat men #MustBeBanned,...,1298.0,1485.0,13.0,Fat men MustBeBanned,"You only live once , but if you do it right , ...",[-0.31430334 0.08816033 0.04679333 0.060086...,[-1.68730821e-05 2.99019247e-01 -2.70933509e-...,0,1111,True
147335,165205,165201,2.882037e+09,danageezus,1.472056e+12,2016-08-24 16:32:29+00:00,NaN,NaN,NaN,Fat men #MustBeBanned,...,11920.0,14773.0,130.0,Fat men MustBeBanned,Producer,[-0.31430334 0.08816033 0.04679333 0.060086...,[-2.4764e-01 -3.4063e-02 -7.7680e-02 7.4684e-...,0,665,True

In [180]:
nef_period[nef_period['tweet_id'] == duplicate3[6]] #####BOT

,Unnamed: 0,Unnamed: 0.1,user_id,user_handle,created_at_x,tweet_date,retweet_count,retweeted,favorite_count,text,...,favourites_count,friends_count,listed_count,p_text,p_desc,text_vecs,desc_vecs,in_reply,creation_delta,within_range
161452,181003,180997,2.533002e+09,jasper_fly,1.472056e+12,2016-08-24 16:33:33+00:00,NaN,NaN,NaN,Small dogs besides corgis #MustBeBanned,...,2416.0,1782.0,15.0,Small dogs besides corgis MustBeBanned,hashtagwarrior and your mom knows it !,[-2.15788007e-01 1.09792992e-01 -1.65503994e-...,[-1.04978018e-01 2.75415421e-01 -1.74618140e-...,0,817,True
170125,190737,190731,2.531160e+09,traceyhappymom,1.472056e+12,2016-08-24 16:33:33+00:00,NaN,NaN,NaN,Small dogs besides corgis #MustBeBanned,...,3778.0,3353.0,21.0,Small dogs besides corgis MustBeBanned,Great thoughts speak only to the thoughtful mi...,[-2.15788007e-01 1.09792992e-01 -1.65503994e-...,[-6.67741373e-02 1.73611403e-01 -2.27834105e-...,0,842,True

In [181]:
nef_period[nef_period['tweet_id'] == duplicate3[7]] #####BOT

,Unnamed: 0,Unnamed: 0.1,user_id,user_handle,created_at_x,tweet_date,retweet_count,retweeted,favorite_count,text,...,favourites_count,friends_count,listed_count,p_text,p_desc,text_vecs,desc_vecs,in_reply,creation_delta,within_range
42213,47390,47389,1.657695e+09,daileyjadon,1.472057e+12,2016-08-24 16:40:44+00:00,NaN,NaN,NaN,Hate movement #BlackLivesMatter #MustBeBanned,...,1298.0,1485.0,13.0,Hate movement BlackLivesMatter MustBeBanned,"You only live once , but if you do it right , ...",[-7.38200024e-02 1.18771993e-01 -6.96159974e-...,[-1.68730821e-05 2.99019247e-01 -2.70933509e-...,0,1111,True
102063,114479,114475,2.882037e+09,danageezus,1.472057e+12,2016-08-24 16:40:44+00:00,NaN,NaN,NaN,Hate movement #BlackLivesMatter #MustBeBanned,...,11920.0,14773.0,130.0,Hate movement BlackLivesMatter MustBeBanned,Producer,[-7.38200024e-02 1.18771993e-01 -6.96159974e-...,[-2.4764e-01 -3.4063e-02 -7.7680e-02 7.4684e-...,0,665,True

In [182]:
nef_period[nef_period['tweet_id'] == duplicate3[8]] #####BOT

,Unnamed: 0,Unnamed: 0.1,user_id,user_handle,created_at_x,tweet_date,retweet_count,retweeted,favorite_count,text,...,favourites_count,friends_count,listed_count,p_text,p_desc,text_vecs,desc_vecs,in_reply,creation_delta,within_range
51667,57941,57938,2.668171e+09,brightandglory,1.472658e+12,2016-08-31 15:46:33+00:00,NaN,NaN,NaN,#IGetDepressedWhen the show is over.....,...,3359.0,3240.0,24.0,IGetDepressedWhen the show is over .....,NaN,[-8.39848295e-02 1.94433331e-01 -6.14074469e-...,[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...,0,790,True
89902,100839,100835,2.541946e+09,mr_clampin,1.472658e+12,2016-08-31 15:46:33+00:00,NaN,NaN,NaN,#IGetDepressedWhen the show is over.....,...,2403.0,1770.0,13.0,IGetDepressedWhen the show is over .....,NaN,[-8.39848295e-02 1.94433331e-01 -6.14074469e-...,[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...,0,820,True

In [183]:
nef_period[nef_period['tweet_id'] == duplicate3[9]] #####BOT

,Unnamed: 0,Unnamed: 0.1,user_id,user_handle,created_at_x,tweet_date,retweet_count,retweeted,favorite_count,text,...,favourites_count,friends_count,listed_count,p_text,p_desc,text_vecs,desc_vecs,in_reply,creation_delta,within_range
64629,72465,72461,2.531160e+09,traceyhappymom,1.472659e+12,2016-08-31 15:54:10+00:00,NaN,NaN,NaN,#IGetDepressedWhen I realize the world didn't ...,...,3778.0,3353.0,21.0,IGetDepressedWhen I realize the world didn't e...,Great thoughts speak only to the thoughtful mi...,[ 3.63210402e-02 2.21034542e-01 -5.93945496e-...,[-6.67741373e-02 1.73611403e-01 -2.27834105e-...,0,849,True
95812,107476,107472,2.668171e+09,brightandglory,1.472659e+12,2016-08-31 15:54:10+00:00,NaN,NaN,NaN,#IGetDepressedWhen I realize the world didn't ...,...,3359.0,3240.0,24.0,IGetDepressedWhen I realize the world didn't e...,NaN,[ 3.63210402e-02 2.21034542e-01 -5.93945496e-...,[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...,0,790,True

In [184]:
nef_period[nef_period['tweet_id'] == duplicate3[10]]

,Unnamed: 0,Unnamed: 0.1,user_id,user_handle,created_at_x,tweet_date,retweet_count,retweeted,favorite_count,text,...,favourites_count,friends_count,listed_count,p_text,p_desc,text_vecs,desc_vecs,in_reply,creation_delta,within_range
46583,52258,52255,2.533002e+09,jasper_fly,1.472660e+12,2016-08-31 16:06:54+00:00,NaN,NaN,NaN,RT @RudeDiaryLady: #IGetDepressedWhen Lies r b...,...,2416.0,1782.0,15.0,RT Rudediarylady : IGetDepressedWhen Lies r be...,hashtagwarrior and your mom knows it !,[-2.96887811e-02 1.04975358e-01 -9.67394188e-...,[-1.04978018e-01 2.75415421e-01 -1.74618140e-...,0,824,True
49252,55226,55223,2.533002e+09,jasper_fly,1.472660e+12,2016-08-31 16:06:54+00:00,NaN,NaN,NaN,RT @RudeDiaryLady: #IGetDepressedWhen Lies r b...,...,2416.0,1782.0,15.0,RT Rudediarylady : IGetDepressedWhen Lies r be...,hashtagwarrior and your mom knows it !,[-2.96887811e-02 1.04975358e-01 -9.67394188e-...,[-1.04978018e-01 2.75415421e-01 -1.74618140e-...,0,824,True

In [185]:
nef_period[nef_period['tweet_id'] == duplicate3[11]] #####BOT -- Just looking at these, they were created on the same
#day too

,Unnamed: 0,Unnamed: 0.1,user_id,user_handle,created_at_x,tweet_date,retweet_count,retweeted,favorite_count,text,...,favourites_count,friends_count,listed_count,p_text,p_desc,text_vecs,desc_vecs,in_reply,creation_delta,within_range
72514,81327,81323,1.657834e+09,adrienne_gg,1.473410e+12,2016-09-09 08:33:49+00:00,NaN,NaN,NaN,Hair Racing #OneLetterOffSports @midnight,...,1010.0,1548.0,15.0,Hair Racing OneLetterOffSports Midnight,lucky I am ) ),[ 2.80107498e-01 -7.10632503e-02 1.48457512e-...,[-1.29503995e-01 2.67167628e-01 -2.64468014e-...,0,1126,True
161289,180827,180821,1.657695e+09,daileyjadon,1.473410e+12,2016-09-09 08:33:49+00:00,NaN,NaN,NaN,Hair Racing #OneLetterOffSports @midnight,...,1298.0,1485.0,13.0,Hair Racing OneLetterOffSports Midnight,"You only live once , but if you do it right , ...",[ 2.80107498e-01 -7.10632503e-02 1.48457512e-...,[-1.68730821e-05 2.99019247e-01 -2.70933509e-...,0,1126,True

In [187]:
nef_period[nef_period['tweet_id'] == duplicate3[12]] #####BOT

,Unnamed: 0,Unnamed: 0.1,user_id,user_handle,created_at_x,tweet_date,retweet_count,retweeted,favorite_count,text,...,favourites_count,friends_count,listed_count,p_text,p_desc,text_vecs,desc_vecs,in_reply,creation_delta,within_range
62891,70511,70507,2.584153e+09,queenofthewo,1.473411e+12,2016-09-09 08:46:13+00:00,NaN,NaN,NaN,World's Strangest Man @midnight #OneLetterOffS...,...,1275.0,1427.0,11.0,World's Strangest Man Midnight OneLetterOffSports,"I have not failed . I 've just found 10,000 wa...",[ 9.30340122e-03 7.58961737e-02 1.47592157e-...,[ 1.77217331e-02 2.25492433e-01 -2.37730935e-...,0,826,True
79066,88659,88655,1.650311e+09,hellieedwards,1.473411e+12,2016-09-09 08:46:13+00:00,NaN,NaN,NaN,World's Strangest Man @midnight #OneLetterOffS...,...,2513.0,3117.0,16.0,World's Strangest Man Midnight OneLetterOffSports,NaN,[ 9.30340122e-03 7.58961737e-02 1.47592157e-...,[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...,0,1129,True

In [188]:
nef_period[nef_period['tweet_id'] == duplicate3[13]] #####BOT

,Unnamed: 0,Unnamed: 0.1,user_id,user_handle,created_at_x,tweet_date,retweet_count,retweeted,favorite_count,text,...,favourites_count,friends_count,listed_count,p_text,p_desc,text_vecs,desc_vecs,in_reply,creation_delta,within_range
20129,22558,22558,2.732676e+09,bgarner2107,1.474294e+12,2016-09-19 13:58:39+00:00,NaN,NaN,NaN,#MyEmmyNominationWouldBe best procrastinator,...,2765.0,2159.0,27.0,MyEmmyNominationWouldBe best procrastinator,embrace yourself,[-5.88033386e-02 1.88519999e-01 -1.15263343e-...,[ 1.73730001e-01 -1.74876004e-01 -1.43264979e-...,0,777,True
28192,31611,31611,2.533002e+09,jasper_fly,1.474294e+12,2016-09-19 13:58:39+00:00,NaN,NaN,NaN,#MyEmmyNominationWouldBe best procrastinator,...,2416.0,1782.0,15.0,MyEmmyNominationWouldBe best procrastinator,hashtagwarrior and your mom knows it !,[-5.88033386e-02 1.88519999e-01 -1.15263343e-...,[-1.04978018e-01 2.75415421e-01 -1.74618140e-...,0,843,True

In [189]:
nef_period[nef_period['tweet_id'] == duplicate3[14]] #####BOT

,Unnamed: 0,Unnamed: 0.1,user_id,user_handle,created_at_x,tweet_date,retweet_count,retweeted,favorite_count,text,...,favourites_count,friends_count,listed_count,p_text,p_desc,text_vecs,desc_vecs,in_reply,creation_delta,within_range
68523,76807,76803,1.657695e+09,daileyjadon,1.474294e+12,2016-09-19 14:01:29+00:00,NaN,NaN,NaN,#MyEmmyNominationWouldBe outstandingly terribb...,...,1298.0,1485.0,13.0,MyEmmyNominationWouldBe outstandingly terribbl...,"You only live once , but if you do it right , ...",[-1.38935000e-01 1.50918797e-01 1.08409680e-...,[-1.68730821e-05 2.99019247e-01 -2.70933509e-...,0,1137,True
176432,197803,197796,2.531160e+09,traceyhappymom,1.474294e+12,2016-09-19 14:01:29+00:00,NaN,NaN,NaN,#MyEmmyNominationWouldBe outstandingly terribb...,...,3778.0,3353.0,21.0,MyEmmyNominationWouldBe outstandingly terribbl...,Great thoughts speak only to the thoughtful mi...,[-1.38935000e-01 1.50918797e-01 1.08409680e-...,[-6.67741373e-02 1.73611403e-01 -2.27834105e-...,0,867,True

In [191]:
norm_t[norm_t['t_id'].duplicated()] #None of the normal tweets are duplicated - interesting.

Empty DataFrame
Columns: [Unnamed: 0, t_id, t_text, t_created_at, t_hashtags, t_mentions, t_urls, t_source, t_lang, t_favorite_count, t_retweet_count, t_retweeted, t_retweet_status_id, t_in_reply_to_status_id, user_id, user_name, user_handle, user_location, user_desc, user_verified, followers_count, user_status_count, user_friend_count, user_favorites_count, user_listed_count, user_protected, user_created_at, mentions, hashtags, urls, emojis, emoji_count, emoji_repeated, in_reply, text, desc, desc_vecs, text_vecs, creation_delta]
Index: []

[0 rows x 39 columns]

In [ ]:
#I'm not sure how to retain this quirk of troll tweets while retaining the order of my dataset. I guess I should make
#an id that is an actually unique id but since everything's in different places and needs to be combined, I'll
#need to combine the tweet id with something in the row to retain identification?

In [193]:
nef_period['duplicated'] = [int(id in duplicate3) for id in nef_period['tweet_id']]

<ipython-input-193-267664087a32>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nef_period['duplicated'] = [int(id in duplicate3) for id in nef_period['tweet_id']]

In [194]:
nef_period[nef_period['tweet_id'] == duplicate3[4]]

,Unnamed: 0,Unnamed: 0.1,user_id,user_handle,created_at_x,tweet_date,retweet_count,retweeted,favorite_count,text,...,friends_count,listed_count,p_text,p_desc,text_vecs,desc_vecs,in_reply,creation_delta,within_range,duplicated
75815,85019,85015,2.620870e+09,puredavie,1.472056e+12,2016-08-24 16:24:11+00:00,NaN,NaN,NaN,Banning most things #MustBeBanned,...,1603.0,14.0,Banning most things MustBeBanned,I would rather die of passion than of boredom .,[ 2.32827477e-02 5.67224994e-02 -2.54981995e-...,[-2.97702011e-02 2.67920494e-01 -4.38833013e-...,0,797,True,1
124876,140073,140069,2.616345e+09,amandavgreen,1.472056e+12,2016-08-24 16:24:11+00:00,NaN,NaN,NaN,Banning most things #MustBeBanned,...,3303.0,37.0,Banning most things MustBeBanned,You have to go through the worst to arrive at ...,[ 2.32827477e-02 5.67224994e-02 -2.54981995e-...,[-1.93766635e-02 1.92465499e-01 -1.79485753e-...,0,799,True,1

In [206]:
nef_period['unique_id'] = nef_period['tweet_id'].astype(str) + nef_period['user_handle']
#nef_period[nef_period['tweet_id'] == duplicate3[4]]
#nef_period = nef_period.drop(columns = 'unique_id')
nef_period

,Unnamed: 0,Unnamed: 0.1,user_id,user_handle,created_at_x,tweet_date,retweet_count,retweeted,favorite_count,text,...,listed_count,p_text,p_desc,text_vecs,desc_vecs,in_reply,creation_delta,within_range,duplicated,unique_id
1,1,1,2.571870e+09,detroitdailynew,1.476133e+12,2016-10-10 20:57:00+00:00,0.0,False,0.0,"Clinton: Trump should’ve apologized more, atta...",...,193.0,"Clinton : Trump should ’ve apologized more , a...","Local news , sports , business , politics , en...",[-2.54299581e-01 2.08115086e-01 -5.42564988e-...,[-7.22378492e-02 3.59070897e-01 1.65857021e-...,0,864,True,0,7.855849423569674e+17detroitdailynew
5,5,5,2.882014e+09,giselleevns,1.477496e+12,2016-10-26 15:33:58+00:00,NaN,NaN,NaN,"@ModicaGiunta me, too!",...,113.0,"Modicagiunta me , too !",if you don't work hard to achieve your dreams ...,[-1.34646401e-01 3.14652026e-01 -1.33460000e-...,[-4.47446369e-02 2.51390547e-01 -3.30337495e-...,0,728,True,0,7.9130185460915e+17giselleevns
8,8,8,1.679279e+09,ameliebaldwin,1.477792e+12,2016-10-30 01:48:19+00:00,0.0,False,0.0,RT @AriaWilsonGOP: 3 Women Face Charges After ...,...,160.0,RT Ariawilsongop : 3 Women Face Charges After ...,"Wife , Mother , Patriot , Friend",[-1.12652123e-01 1.57321408e-01 -1.17146656e-...,[-3.59312855e-02 3.11267316e-01 -1.35997280e-...,0,1169,True,0,7.925436225288929e+17ameliebaldwin
18,21,21,1.660375e+09,ilovesarahrich,1.477820e+12,2016-10-30 09:29:28+00:00,0.0,False,0.0,"RT @bgg2wl: Walmart, Michelle Obama and The Ha...",...,6.0,"RT Bgg2wl : Walmart , Michelle Obama and The H...",Just trying to love the life I'm living & the ...,[-1.10773839e-01 2.16222301e-01 -6.32913113e-...,[ 2.33638939e-02 1.79698288e-01 -1.81564108e-...,0,1176,True,0,7.926596780188877e+17ilovesarahrich
22,28,28,2.882014e+09,giselleevns,1.477053e+12,2016-10-21 12:30:53+00:00,NaN,NaN,NaN,When I remember it's #Friyay https://t.co/yjBT...,...,113.0,When I remember it's Friyay T,if you don't work hard to achieve your dreams ...,[ 6.13904074e-02 3.08178574e-01 -2.02425286e-...,[-4.47446369e-02 2.51390547e-01 -3.30337495e-...,0,723,True,0,7.894438400758497e+17giselleevns
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181473,203461,203454,1.692501e+09,cornellburchet,1.473437e+12,2016-09-09 16:08:43+00:00,0.0,False,0.0,"RT @JoyAnnReid: IOW, during the primaries Kell...",...,19.0,"RT Joyannreid : IOW , during the primaries Kel...","A world for a few , a few to justice , lands i...",[ 1.19242705e-02 1.58835635e-01 3.90442349e-...,[-7.88898841e-02 8.63750875e-02 -8.04065093e-...,0,1113,True,0,7.742783701713347e+17cornellburchet
181475,203463,203456,2.943515e+09,screamymonkey,1.475085e+12,2016-09-28 17:56:46+00:00,0.0,False,0.0,#TopNews Senate overwhelmingly rejects Obama v...,...,44.0,TopNews Senate overwhelmingly rejects Obama ve...,First frontier . News aggreagtor .,[-9.88186374e-02 1.22007817e-01 3.67550552e-...,[ 7.90153369e-02 1.69558331e-01 -4.33810055e-...,0,641,True,0,7.811909319281295e+17screamymonkey
181483,203475,203468,2.882350e+09,chrixmorgan,1.472051e+12,2016-08-24 14:56:10+00:00,0.0,False,0.0,RT @Goodluckbeer: Fentanyl filled Trump suppor...,...,97.0,RT Goodluckbeer : Fentanyl filled Trump suppor...,I'm so funny . I can make myself laugh,[ 2.09579784e-02 1.54693902e-01 -2.28575412e-...,[-5.73518053e-02 2.25625068e-01 -3.89564008e-...,0,664,True,0,7.684619072000573e+17chrixmorgan
181485,203477,203470,2.570017e+09,onlinememphis,1.475197e+12,2016-09-30 00:58:11+00:00,0.0,False,0.0,ELECTION GUIDE: Federal and State elections ht...,...,113.0,ELECTION GUIDE : Federal and State elections T,"Breaking news , weather , traffic and more for...",[-1.14170499e-01 2.69477516e-02 1.97396249e-...,[-6.70233518e-02 3.25602353e-01 -1.40968829e-...,0,854,True,0,7.816593719189258e+17onlinememphis
181489,203481,203474,1.688371e+09,watchmewalkin,1.476623e+12,2016-10-16 13:08:21+00:00,0.0,False,0.0,RT @BuzzFeed: This 22-year-old got out of an a...,...,10.0,RT Buzzfeed : This 22 - year - old got out of ...,Working - Music geek + Blacker than BlackHole,[-1.64007515e-01 2.00706407e-01 -1.06516197e-...,[-9.92912501e-02 8.92653689e-02 -1.39007494e-...,0,1151,True,0,7.876413300842783e+17watchmewalkin

In [203]:
#nef_period['unique_id'] = [str(nef_period['user_handle']) + str(nef_period['tweet_id'])
nef_period

,Unnamed: 0,Unnamed: 0.1,user_id,user_handle,created_at_x,tweet_date,retweet_count,retweeted,favorite_count,text,...,listed_count,p_text,p_desc,text_vecs,desc_vecs,in_reply,creation_delta,within_range,duplicated,unique_id
1,1,1,2.571870e+09,detroitdailynew,1.476133e+12,2016-10-10 20:57:00+00:00,0.0,False,0.0,"Clinton: Trump should’ve apologized more, atta...",...,193.0,"Clinton : Trump should ’ve apologized more , a...","Local news , sports , business , politics , en...",[-2.54299581e-01 2.08115086e-01 -5.42564988e-...,[-7.22378492e-02 3.59070897e-01 1.65857021e-...,0,864,True,0,1 detroitdailynew\n5 gisel...
5,5,5,2.882014e+09,giselleevns,1.477496e+12,2016-10-26 15:33:58+00:00,NaN,NaN,NaN,"@ModicaGiunta me, too!",...,113.0,"Modicagiunta me , too !",if you don't work hard to achieve your dreams ...,[-1.34646401e-01 3.14652026e-01 -1.33460000e-...,[-4.47446369e-02 2.51390547e-01 -3.30337495e-...,0,728,True,0,1 detroitdailynew\n5 gisel...
8,8,8,1.679279e+09,ameliebaldwin,1.477792e+12,2016-10-30 01:48:19+00:00,0.0,False,0.0,RT @AriaWilsonGOP: 3 Women Face Charges After ...,...,160.0,RT Ariawilsongop : 3 Women Face Charges After ...,"Wife , Mother , Patriot , Friend",[-1.12652123e-01 1.57321408e-01 -1.17146656e-...,[-3.59312855e-02 3.11267316e-01 -1.35997280e-...,0,1169,True,0,1 detroitdailynew\n5 gisel...
18,21,21,1.660375e+09,ilovesarahrich,1.477820e+12,2016-10-30 09:29:28+00:00,0.0,False,0.0,"RT @bgg2wl: Walmart, Michelle Obama and The Ha...",...,6.0,"RT Bgg2wl : Walmart , Michelle Obama and The H...",Just trying to love the life I'm living & the ...,[-1.10773839e-01 2.16222301e-01 -6.32913113e-...,[ 2.33638939e-02 1.79698288e-01 -1.81564108e-...,0,1176,True,0,1 detroitdailynew\n5 gisel...
22,28,28,2.882014e+09,giselleevns,1.477053e+12,2016-10-21 12:30:53+00:00,NaN,NaN,NaN,When I remember it's #Friyay https://t.co/yjBT...,...,113.0,When I remember it's Friyay T,if you don't work hard to achieve your dreams ...,[ 6.13904074e-02 3.08178574e-01 -2.02425286e-...,[-4.47446369e-02 2.51390547e-01 -3.30337495e-...,0,723,True,0,1 detroitdailynew\n5 gisel...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181473,203461,203454,1.692501e+09,cornellburchet,1.473437e+12,2016-09-09 16:08:43+00:00,0.0,False,0.0,"RT @JoyAnnReid: IOW, during the primaries Kell...",...,19.0,"RT Joyannreid : IOW , during the primaries Kel...","A world for a few , a few to justice , lands i...",[ 1.19242705e-02 1.58835635e-01 3.90442349e-...,[-7.88898841e-02 8.63750875e-02 -8.04065093e-...,0,1113,True,0,1 detroitdailynew\n5 gisel...
181475,203463,203456,2.943515e+09,screamymonkey,1.475085e+12,2016-09-28 17:56:46+00:00,0.0,False,0.0,#TopNews Senate overwhelmingly rejects Obama v...,...,44.0,TopNews Senate overwhelmingly rejects Obama ve...,First frontier . News aggreagtor .,[-9.88186374e-02 1.22007817e-01 3.67550552e-...,[ 7.90153369e-02 1.69558331e-01 -4.33810055e-...,0,641,True,0,1 detroitdailynew\n5 gisel...
181483,203475,203468,2.882350e+09,chrixmorgan,1.472051e+12,2016-08-24 14:56:10+00:00,0.0,False,0.0,RT @Goodluckbeer: Fentanyl filled Trump suppor...,...,97.0,RT Goodluckbeer : Fentanyl filled Trump suppor...,I'm so funny . I can make myself laugh,[ 2.09579784e-02 1.54693902e-01 -2.28575412e-...,[-5.73518053e-02 2.25625068e-01 -3.89564008e-...,0,664,True,0,1 detroitdailynew\n5 gisel...
181485,203477,203470,2.570017e+09,onlinememphis,1.475197e+12,2016-09-30 00:58:11+00:00,0.0,False,0.0,ELECTION GUIDE: Federal and State elections ht...,...,113.0,ELECTION GUIDE : Federal and State elections T,"Breaking news , weather , traffic and more for...",[-1.14170499e-01 2.69477516e-02 1.97396249e-...,[-6.70233518e-02 3.25602353e-01 -1.40968829e-...,0,854,True,0,1 detroitdailynew\n5 gisel...
181489,203481,203474,1.688371e+09,watchmewalkin,1.476623e+12,2016-10-16 13:08:21+00:00,0.0,False,0.0,RT @BuzzFeed: This 22-year-old got out of an a...,...,10.0,RT Buzzfeed : This 22 - year - old got out of ...,Working - Music geek + Blacker than BlackHole,[-1.64007515e-01 2.00706407e-01 -1.06516197e-...,[-9.92912501e-02 8.92653689e-02 -1.39007494e-...,0,1151,True,0,1 detroitdailynew\n5 gisel...

In [207]:
nef_period[nef_period['tweet_id'] == duplicate3[4]]['unique_id'] #This should at least differentiate
#between different accounts posting a tweet with the same id - those that are pure duplicates I guess I can drop,
#knowing that the duplicate nature was retained in a boolean column. Wish I had done this at the beginning is the
#only thing since cleaning NAs might've lost some duplicate data, but I suppose who knows.

75815        7.684840548364452e+17puredavie
124876    7.684840548364452e+17amandavgreen
Name: unique_id, dtype: object

In [209]:
nef_period[nef_period['unique_id'].duplicated()]

,Unnamed: 0,Unnamed: 0.1,user_id,user_handle,created_at_x,tweet_date,retweet_count,retweeted,favorite_count,text,...,listed_count,p_text,p_desc,text_vecs,desc_vecs,in_reply,creation_delta,within_range,duplicated,unique_id
47564,53354,53351,2.882014e+09,giselleevns,1.476109e+12,2016-10-10 14:09:18+00:00,NaN,NaN,NaN,RT @CassieWeltch: #BetterAlternativeToDebates ...,...,113.0,RT Cassieweltch : BetterAlternativeToDebates F...,if you don't work hard to achieve your dreams ...,[-1.09891459e-01 1.35242358e-01 -2.22358163e-...,[-4.47446369e-02 2.51390547e-01 -3.30337495e-...,0,712,True,1,7.854823408186778e+17giselleevns
49252,55226,55223,2.533002e+09,jasper_fly,1.472660e+12,2016-08-31 16:06:54+00:00,NaN,NaN,NaN,RT @RudeDiaryLady: #IGetDepressedWhen Lies r b...,...,15.0,RT Rudediarylady : IGetDepressedWhen Lies r be...,hashtagwarrior and your mom knows it !,[-2.96887811e-02 1.04975358e-01 -9.67394188e-...,[-1.04978018e-01 2.75415421e-01 -1.74618140e-...,0,824,True,1,7.710164229651538e+17jasper_fly
52221,58564,58561,3.084088e+09,priceforpierce,1.474941e+12,2016-09-27 01:54:09+00:00,NaN,NaN,NaN,RT @LauraBaeley: #ThingsMoreTrustedThanHillary...,...,30.0,RT Laurabaeley : ThingsMoreTrustedThanHillary ...,Constitutional conservative - Pro life - Pro 2...,[ 1.03479192e-01 1.18629597e-01 -9.15860012e-...,[-7.73836374e-02 1.75265476e-01 -3.43990885e-...,0,566,True,1,7.80586292874584e+17priceforpierce
68569,76856,76852,1.690488e+09,michellearry,1.474941e+12,2016-09-27 01:54:09+00:00,NaN,NaN,NaN,RT @LauraBaeley: #ThingsMoreTrustedThanHillary...,...,42.0,RT Laurabaeley : ThingsMoreTrustedThanHillary ...,Cautiously Optimistic Conservative . Gathering...,[ 1.03479192e-01 1.18629597e-01 -9.15860012e-...,[-1.82995014e-02 1.72007889e-01 -5.17468974e-...,0,1131,True,1,7.805862924971663e+17michellearry
68900,77221,77217,2.882014e+09,giselleevns,1.476889e+12,2016-10-19 14:56:34+00:00,NaN,NaN,NaN,RT @pureDavie: #RejectedDebateTopics 3rd wave ...,...,113.0,RT Puredavie : RejectedDebateTopics 3rd wave f...,if you don't work hard to achieve your dreams ...,[-3.63241397e-02 1.31463870e-01 6.84358105e-...,[-4.47446369e-02 2.51390547e-01 -3.30337495e-...,0,721,True,1,7.887557257744261e+17giselleevns
77033,86392,86388,2.533654e+09,evagreen69,1.474941e+12,2016-09-27 01:56:57+00:00,NaN,NaN,NaN,RT @JudeLambertUSA: #ThingsMoreTrustedThanHill...,...,46.0,RT Judelambertusa : ThingsMoreTrustedThanHilla...,"God comes 1st . My Daughters , & my husband re...",[-5.65769970e-02 1.10311128e-01 -4.16724980e-...,[ 2.48270426e-02 1.44901365e-01 -4.21811827e-...,0,851,True,1,7.805869982517248e+17evagreen69
80902,90726,90722,1.656686e+09,jeannemccarthy0,1.474941e+12,2016-09-27 01:57:43+00:00,NaN,NaN,NaN,RT @CooknCooks: #ThingsMoreTrustedThanHillary ...,...,35.0,RT Cookncooks : ThingsMoreTrustedThanHillary D...,"Conservative domestic goddess devoted to God ,...",[-1.46281913e-01 2.67074168e-01 -1.25280187e-...,[-1.59475952e-01 1.48936495e-01 4.46374007e-...,0,1144,True,1,7.805871899188347e+17jeannemccarthy0
90409,101416,101412,2.531160e+09,traceyhappymom,1.476888e+12,2016-10-19 14:35:08+00:00,NaN,NaN,NaN,RT @JamesMorgan92: DC or Marvel? #RejectedDeba...,...,21.0,RT Jamesmorgan92 : DC or Marvel ? RejectedDeba...,Great thoughts speak only to the thoughtful mi...,[ 5.19502461e-02 8.37177411e-02 8.21612477e-...,[-6.67741373e-02 1.73611403e-01 -2.27834105e-...,0,898,True,1,7.887503336610529e+17traceyhappymom
90988,102059,102055,2.533222e+09,lazykstafford,1.474941e+12,2016-09-27 01:58:15+00:00,NaN,NaN,NaN,RT @_NickLuna_: #ThingsMoreTrustedThanHillary ...,...,30.0,RT _nickluna _ : ThingsMoreTrustedThanHillary ...,I'M AN AMERICAN LOVING PATRIOT - MARRIED TO A ...,[-1.49576627e-02 1.48765534e-01 -2.07547788e-...,[-1.20908402e-01 1.38163313e-01 -2.60122474e-...,0,874,True,1,7.805873246691656e+17lazykstafford
108299,121422,121418,2.531160e+09,traceyhappymom,1.476888e+12,2016-10-19 14:35:38+00:00,NaN,NaN,NaN,RT @BuckFradley: Grabbing pussy or grabbing di...,...,21.0,RT Buckfradley : Grabbing pussy or grabbing di...,Great thoughts speak only to the thoughtful mi...,[-2.58211792e-01 -2.00804979e-01 -9.14084986e-...,[-6.67741373e-02 1.73611403e-01 -2.27834105e-...,0,898,True,1,7.887504606645494e+17traceyhappymom
109849,123166,123162,1.657695e+09,daileyjadon,1.471258e+12,2016-08-15 10:44:32+00:00,NaN,NaN,NaN,RT @Gamiliell: All things are difficult before...,...,13.0,RT Gamiliell : All things are difficult before...,"You only live once , but if you do it right , ...",[-1.09106526e-01 1.76026911e-01 -1.76665664e-...,[-1.68730821e-05 2.99019247e-01 -2.70933509e-...,0,1101,True,1,7.651370894532977e+17daileyjadon
109975,123304,123300,2.584153e+09,queenofthewo,1.474299e+12,2016-09-19 15:22:23+00:00,NaN,NaN,NaN,RT @DaileyJadon: #MyEmmyNominationWouldBe outs...,...,11.0,RT Daileyjadon : MyEmmyNominationWouldBe outst...,"I have not failed . I 've just found 10,000 wa...",[-5.81198707e-02 1.66869253e-01 5.74710518e-...,[ 1.77217331e-02 2.25492433e-01 -2.37730935e-...,0,837,True,1,7.778905883183677e+17queenofthewo
110799,124230,124226,1.656686e+09,jeannemccarthy0,1.474941e+12,2016-09-27 01:56:50+00:00,NaN,NaN,NaN,RT @BrucieDublin: #ThingsMoreTrustedThanHillar...,...,35.0,RT Bruciedublin : ThingsMoreTrustedThanHillary...,"Conservative domestic goddess devoted to God ,...",[ 4.71326634e-02 1.03372887e-01 -1.14006735e-...,[-1.59475952e-01 1.48936495e-01 4.46374007e-...,0,1144,True,1,7.805869672515543e+17jeannemccarthy0
111280,124773,124769,1.690488e+09,michellearry,1.474943e+12,2016-09-27 02:24:33+00:00,NaN,NaN,NaN,RT @LazyKStafford: #ThingsMoreTrustedThanHilla...,...,42.0,RT Lazykstafford : ThingsMoreTrustedThanHillar...,Cautiously Optimistic Conservative . Gathering...,[ 3.89271006e-02 1.11484908e-01 1.01215996e-...,[-1.82995014e-02 1.72007889e-01 -5.17468974e-...,0,1131,True,1,7.805939430711665e+17michellearry
112039,125646,125642,2.533222e+09,lazykstafford,1.471515e+12,2016-08-18 10:08:02+00:00,0.0,False,0.0,RT @A_M_Perez: Did Obama Cry? #Lavoy Killed by...,...,30.0,RT A_m_perez : Did Obama Cry ? Lavoy Killed by...,I'M AN AMERICAN LOVING PATRIOT - MARRIED TO A ...,[-1.23142995e-01 8.44566673e-02 6.46127835e-...,[-1.20908402e-01 1.38163313e-01 -2.60122474e-...,0,834,True,1,7.662150684595978e+17lazykstafford
115905,129996,129992,1.727482e+09,melvinsroberts,1.476108e+12,2016-10-10 14:06:47+00:00,NaN,NaN,NaN,RT @CurtisBigMan: #BetterAlternativeToDebates ...,...,30.0,RT Curtisbigman : BetterAlternativeToDebates a...,Internet junkie hashtagwars lover !,[ 1.81002840e-02 4.07244414e-02 -6.70692176e-...,[ 1.73660107e-02 3.92619986e-03 7.01220036e-...,0,1132,True,1,7.854817093995848e+17melvinsroberts
121615,136431,136427,1.727482e+09,melvinsroberts,1.476888e+12,2016-10-19 14:45:49+00:00,NaN,NaN,NaN,RT @JamesMorgan92: DC or Marvel? #RejectedDeba...,...,30.0,RT Jamesmorgan92 : DC or Marvel ? RejectedDeba...,Internet junkie hashtagwars lover !,[ 5.19502461e-02 8.37177411e-02 8.21612477e-...,[ 1.73660107e-02 3.92619986e-03 7.01220036e-...,0,1141,True,1,7.88753020695765e+17melvinsroberts
126772,142182,142178,2.882014e+09,giselleevns,1.476887e+12,2016-10-19 14:19:29+00:00,NaN,NaN,NaN,RT @JamesMorgan92: DC or Marvel? #RejectedDeba...,...,113.0,RT Jamesmorgan92 : DC or Marvel ? RejectedDeba...,if you don't work hard to achieve your dreams ...,[ 5.19502461e-02 8.37177411e-02 8.21612477e-...,[-4.47446369e-02 2.51390547e-01 -3.30337495e-...,0,721,True,1,7.88746395377365e+17giselleevns
128417,144029,144025,2.882014e+09,giselleevns,1.476886e+12,2016-10-19 14:10:51+00:00,NaN,NaN,NaN,RT @Freddiemaize: Toilet seat up or down #Reje...,...,113.0,RT Freddiemaize : Toilet seat up or down Rejec...,if you don't work hard to achieve your dreams ...,[ 6.83085546e-02 4.49827760e-02 -1.06067777e-...,[-4.47446369e-02 2.51390547e-01 -3.30337495e-...,0,721,True,1,7.887442206475878e+17giselleevns
132514,148607,148603,2.532612e+09,kathiemrr,1.476892e+12,2016-10-19 15:42:07+00:00,NaN,NaN,NaN,RT @JamesMorgan92: DC or Marvel? #RejectedDeba...,...,22.0,RT Jamesmorgan92 : DC or Marvel ? RejectedDeba...,"Imperfection is beauty , madness is genius and...",[ 5.19502461e-02 8.37177411e-02 8.21612477e-...,[-1.71253249e-01 2.48315170e-01 -5.54325208e-...,0,874,True,1,7.887671899185848e+17kathiemrr
133631,149868,149864,2.541946e+09,mr_clampin,1.471261e+12,2016-08-15 11:39:00+00:00,NaN,NaN,NaN,RT @Gamiliell: All things are difficult before...,...,13.0,RT Gamiliell : All things are difficult before...,NaN,[-1.09106526e-01 1.76026911e-01 -1.76665664e-...,[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...,0,804,True,1,7.651507981583237e+17mr_clampin
137957,154732,154728,2.531160e+09,traceyhappymom,1.476888e+12,2016-10-19 14:35:25+00:00,NaN,NaN,NaN,RT @LowKeySwag412: Death Star or World Star? #...,...,21.0,RT Lowkeyswag412 : Death Star or World Star ? ...,Great thoughts speak only to the thoughtful mi...,[ 5.59112430e-02 2.07297996e-01 2.28278004e-...,[-6.67741373e-02 1.73611403e-01 -2.27834105e-...,0,898,True,1,7.887504067846144e+17traceyhappymom
147400,165274,165270,2.882014e+09,giselleevns,1.476109e+12,2016-10-10 14:22:24+00:00,NaN,NaN,NaN,RT @NotRitaHart: #BetterAlternativeToDebates w...,...,113.0,RT Notritahart : BetterAlternativeToDebates wa...,if you don't work hard to achieve your dreams ...,[-2.02900171e-03 -5.16500091e-03 -7.13183358e-...,[-4.47446369e-02 2.51390547e-01 -3.30337495e-...,0,712,True,1,7.854856388838072e+17giselleevns
150667,168915,168911,1.690488e+09,michellearry,1.474941e+12,2016-09-27 01:58:15+00:00,NaN,NaN,NaN,RT @_NickLuna_: #ThingsMoreTrustedThanHillary ...,...,42.0,RT _nickluna _ : ThingsMoreTrustedThanHillary ...,Cautiously Optimistic Conservative . Gathering...,[-1.49576627e-02 1.48765534e-01 -2.07547788e-...,[-1.82995014e-02 1.72007889e-01 -5.17468974e-...,0,1131,True,1,7.805873251263529e+17michellearry
156567,175569,175563,3.084088e+09,priceforpierce,1.474941e+12,2016-09-27 01:56:30+00:00,NaN,NaN,NaN,RT @LauraBaeley: #ThingsMoreTrustedThanHillary...,...,30.0,RT Laurabaeley : ThingsMoreTrustedThanHillary ...,Constitutional conservative - Pro life - Pro 2...,[ 2.40429379e-02 1.20959468e-01 -1.10492848e-...,[-7.73836374e-02 1.75265476e-01 -3.43990885e-...,0,566,True,1,7.805868836549632e+17priceforpierce
159015,178298,178292,1.727482e+09,melvinsroberts,1.476107e+12,2016-10-10 13:50:02+00:00,NaN,NaN,NaN,RT @GiselleEvns: #BetterAlternativeToDebates t...,...,30.0,RT Giselleevns : BetterAlternativeToDebates th...,Internet junkie hashtagwars lover !,[-3.16680083e-03 3.60399969e-02 3.56779993e-...,[ 1.73660107e-02 3.92619986e-03 7.01220036e-...,0,1132,True,1,7.854774942961541e+17melvinsroberts
159408,178735,178729,2.533222e+09,lazykstafford,1.474940e+12,2016-09-27 01:29:46+00:00,NaN,NaN,NaN,RT @mr_clampin: #ThingsMoreTrustedThanHillary ...,...,30.0,RT Mr_clampin : ThingsMoreTrustedThanHillary a...,I'M AN AMERICAN LOVING PATRIOT - MARRIED TO A ...,[ 1.41917720e-01 8.81605670e-02 -7.53842741e-...,[-1.20908402e-01 1.38163313e-01 -2.60122474e-...,0,874,True,1,7.805801579291853e+17lazykstafford
159460,178794,178788,2.589354e+09,cassieweltch,1.474299e+12,2016-09-19 15:31:24+00:00,NaN,NaN,NaN,RT @KathieMrr: #MyEmmyNominationWouldBe outst...,...,8.0,RT Kathiemrr : MyEmmyNominationWouldBe outst...,"Ask and it will be given to you ; search , and...",[-5.71908876e-02 9.24677774e-02 -3.92441154e-...,[ 6.68087369e-03 1.88167095e-01 -1.71949118e-...,0,835,True,1,7.778928596095713e+17cassieweltch
161708,181283,181277,3.084360e+09,mil0blake,1.474940e+12,2016-09-27 01:37:19+00:00,NaN,NaN,NaN,RT @JudeLambertUSA: #ThingsMoreTrustedThanHill...,...,25.0,RT Judelambertusa : ThingsMoreTrustedThanHilla...,"Faith , Honesty , Family , Work , Self Discipl...",[-1.46281913e-01 2.67074168e-01 -1.25280187e-...,[-2.13514075e-01 3.34689021e-01 -1.31468281e-...,0,566,True,1,7.805820577726259e+17mil0blake
163293,183060,183054,2.533654e+09,evagreen69,1.474941e+12,2016-09-27 01:58:02+00:00,NaN,NaN,NaN,RT @LeroyLovesUSA: #ThingsMoreTrustedThanHilla...,...,46.0,RT Leroylovesusa : ThingsMoreTrustedThanHillar...,"God comes 1st . My Daughters , & my husband re...",[ 1.46070912e-01 6.85515776e-02 -9.98697504e-...,[ 2.48270426e-02 1.44901365e-01 -4.21811827e-...,0,851,True,1,7.805872707934208e+17evagreen69
164420,184337,184331,3.084360e+09,mil0blake,1.474941e+12,2016-09-27 01:58:02+00:00,NaN,NaN,NaN,RT @LeroyLovesUSA: #ThingsMoreTrustedThanHilla...,...,25.0,RT Leroylovesusa : ThingsMoreTrustedThanHillar...,"Faith , Honesty , Family , Work , Self Discipl...",[ 1.46070912e-01 6.85515776e-02 -9.98697504e-...,[-2.13514075e-01 3.34689021e-01 -1.31468281e-...,0,566,True,1,7.805872722656051e+17mil0blake
169410,189919,189913,2.532612e+09,kathiemrr,1.476111e+12,2016-10-10 14:47:43+00:00,NaN,NaN,NaN,RT @NoEinLonardo: Mass debates! #BetterAlterna...,...,22.0,RT Noeinlonardo : Mass debates ! BetterAlterna...,"Imperfection is beauty , madness is genius and...",[-1.23613425e-01 1.40108570e-01 4.98234294e-...,[-1.71253249e-01 2.48315170e-01 -5.54325208e-...,0,865,True,1,7.854920109038756e+17kathiemrr
170002,190599,190593,1.656686e+09,jeannemccarthy0,1.474941e+12,2016-09-27 01:51:00+00:00,NaN,NaN,NaN,RT @Gab1Aldana: #ThingsMoreTrustedThanHillary ...,...,35.0,RT Gab1aldana : ThingsMoreTrustedThanHillary a...,"Conservative domestic goddess devoted to God ,...",[ 1.41917720e-01 8.81605670e-02 -7.53842741e-...,[-1.59475952e-01 1.48936495e-01 4.46374007e-...,0,1144,True,1,7.805854992535388e+17jeannemccarthy0
171523,192301,192294,3.084088e+09,priceforpierce,1.474940e+12,2016-09-27 01:37:20+00:00,NaN,NaN,NaN,RT @JudeLambertUSA: #ThingsMoreTrustedThanHill...,...,30.0,RT Judelambertusa : ThingsMoreTrustedThanHilla...,Constitutional conservative - Pro life - Pro 2...,[-1.46281913e-01 2.67074168e-01 -1.25280187e-...,[-7.73836374e-02 1.75265476e-01 -3.43990885e-...,0,566,True,1,7.805820590812119e+17priceforpierce
176725,198124,198117,2.533002e+09,jasper_fly,1.471263e+12,2016-08-15 12:10:52+00:00,NaN,NaN,NaN,RT @Gamiliell: All things are difficult before...,...,15.0,RT Gamiliell : All things are difficult before...,hashtagwarrior and your mom knows it !,[-1.09106526e-01 1.76026911e-01 -1.76665664e-...,[-1.04978018e-01 2.75415421e-01 -1.74618140e-...,0,808,True,1,7.651588154991165e+17jasper_fly
176893,198320,198313,1.656686e+09,jeannemccarthy0,1.474941e+12,2016-09-27 01:58:15+00:00,NaN,NaN,NaN,RT @_NickLuna_: #ThingsMoreTrustedThanHillary ...,...,35.0,RT _nickluna _ : ThingsMoreTrustedThanHillary ...,"Conservative domestic goddess devoted to God ,...",[-1.49576627e-02 1.48765534e-01 -2.07547788e-...,[-1.59475952e-01 1.48936495e-01 4.46374007e-...,0,1144,True,1,7.805873233269965e+17jeannemccarthy0
181145,203093,203086,2.620870e+09,puredavie,1.474297e+12,2016-09-19 14:53:54+00:00,NaN,NaN,NaN,RT @KathieMrr: #MyEmmyNominationWouldBe outst...,...,14.0,RT Kathiemrr : MyEmmyNominationWouldBe outst...,I would rather die of passion than of boredom .,[-5.71908876e-02 9.24677774e-02 -3.92441154e-...,[-2.97702011e-02 2.67920494e-01 -4.38833013e-...,0,823,True,1,7.778834216788419e+17puredavie

In [210]:
nef_period[nef_period['tweet_id'].duplicated()] #whoa so yeah a lot of them would've been lost in a pure purge but we 
#trimmed several out like this.

,Unnamed: 0,Unnamed: 0.1,user_id,user_handle,created_at_x,tweet_date,retweet_count,retweeted,favorite_count,text,...,listed_count,p_text,p_desc,text_vecs,desc_vecs,in_reply,creation_delta,within_range,duplicated,unique_id
28192,31611,31611,2.533002e+09,jasper_fly,1.474294e+12,2016-09-19 13:58:39+00:00,NaN,NaN,NaN,#MyEmmyNominationWouldBe best procrastinator,...,15.0,MyEmmyNominationWouldBe best procrastinator,hashtagwarrior and your mom knows it !,[-5.88033386e-02 1.88519999e-01 -1.15263343e-...,[-1.04978018e-01 2.75415421e-01 -1.74618140e-...,0,843,True,1,7.778695156485407e+17jasper_fly
38916,43684,43683,2.573225e+09,dominicvalent,1.474885e+12,2016-09-26 10:16:03+00:00,NaN,NaN,NaN,Know that @StephenAtHome is a comedic genius. ...,...,22.0,Know that Stephenathome is a comedic genius . ...,Try to be a rainbow in someone's cloud,[-3.18628959e-02 1.88393086e-01 -4.28547747e-...,[ 4.31655385e-02 1.05134666e-01 -9.58988965e-...,0,849,True,1,7.803502113696317e+17dominicvalent
47564,53354,53351,2.882014e+09,giselleevns,1.476109e+12,2016-10-10 14:09:18+00:00,NaN,NaN,NaN,RT @CassieWeltch: #BetterAlternativeToDebates ...,...,113.0,RT Cassieweltch : BetterAlternativeToDebates F...,if you don't work hard to achieve your dreams ...,[-1.09891459e-01 1.35242358e-01 -2.22358163e-...,[-4.47446369e-02 2.51390547e-01 -3.30337495e-...,0,712,True,1,7.854823408186778e+17giselleevns
49252,55226,55223,2.533002e+09,jasper_fly,1.472660e+12,2016-08-31 16:06:54+00:00,NaN,NaN,NaN,RT @RudeDiaryLady: #IGetDepressedWhen Lies r b...,...,15.0,RT Rudediarylady : IGetDepressedWhen Lies r be...,hashtagwarrior and your mom knows it !,[-2.96887811e-02 1.04975358e-01 -9.67394188e-...,[-1.04978018e-01 2.75415421e-01 -1.74618140e-...,0,824,True,1,7.710164229651538e+17jasper_fly
52221,58564,58561,3.084088e+09,priceforpierce,1.474941e+12,2016-09-27 01:54:09+00:00,NaN,NaN,NaN,RT @LauraBaeley: #ThingsMoreTrustedThanHillary...,...,30.0,RT Laurabaeley : ThingsMoreTrustedThanHillary ...,Constitutional conservative - Pro life - Pro 2...,[ 1.03479192e-01 1.18629597e-01 -9.15860012e-...,[-7.73836374e-02 1.75265476e-01 -3.43990885e-...,0,566,True,1,7.80586292874584e+17priceforpierce
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176432,197803,197796,2.531160e+09,traceyhappymom,1.474294e+12,2016-09-19 14:01:29+00:00,NaN,NaN,NaN,#MyEmmyNominationWouldBe outstandingly terribb...,...,21.0,MyEmmyNominationWouldBe outstandingly terribbl...,Great thoughts speak only to the thoughtful mi...,[-1.38935000e-01 1.50918797e-01 1.08409680e-...,[-6.67741373e-02 1.73611403e-01 -2.27834105e-...,0,867,True,1,7.778702290199798e+17traceyhappymom
176725,198124,198117,2.533002e+09,jasper_fly,1.471263e+12,2016-08-15 12:10:52+00:00,NaN,NaN,NaN,RT @Gamiliell: All things are difficult before...,...,15.0,RT Gamiliell : All things are difficult before...,hashtagwarrior and your mom knows it !,[-1.09106526e-01 1.76026911e-01 -1.76665664e-...,[-1.04978018e-01 2.75415421e-01 -1.74618140e-...,0,808,True,1,7.651588154991165e+17jasper_fly
176893,198320,198313,1.656686e+09,jeannemccarthy0,1.474941e+12,2016-09-27 01:58:15+00:00,NaN,NaN,NaN,RT @_NickLuna_: #ThingsMoreTrustedThanHillary ...,...,35.0,RT _nickluna _ : ThingsMoreTrustedThanHillary ...,"Conservative domestic goddess devoted to God ,...",[-1.49576627e-02 1.48765534e-01 -2.07547788e-...,[-1.59475952e-01 1.48936495e-01 4.46374007e-...,0,1144,True,1,7.805873233269965e+17jeannemccarthy0
177488,198997,198990,2.533002e+09,jasper_fly,1.474294e+12,2016-09-19 14:01:41+00:00,NaN,NaN,NaN,#MyEmmyNominationWouldBe outstanding producti...,...,15.0,MyEmmyNominationWouldBe outstanding producti...,hashtagwarrior and your mom knows it !,[-1.24072336e-01 4.19750027e-02 -4.51528318e-...,[-1.04978018e-01 2.75415421e-01 -1.74618140e-...,0,843,True,1,7.778702816374497e+17jasper_fly
181145,203093,203086,2.620870e+09,puredavie,1.474297e+12,2016-09-19 14:53:54+00:00,NaN,NaN,NaN,RT @KathieMrr: #MyEmmyNominationWouldBe outst...,...,14.0,RT Kathiemrr : MyEmmyNominationWouldBe outst...,I would rather die of passion than of boredom .,[-5.71908876e-02 9.24677774e-02 -3.92441154e-...,[-2.97702011e-02 2.67920494e-01 -4.38833013e-...,0,823,True,1,7.778834216788419e+17puredavie

In [211]:
nef_period_unique = nef_period.drop_duplicates(subset=['unique_id'])
nef_period_unique

,Unnamed: 0,Unnamed: 0.1,user_id,user_handle,created_at_x,tweet_date,retweet_count,retweeted,favorite_count,text,...,listed_count,p_text,p_desc,text_vecs,desc_vecs,in_reply,creation_delta,within_range,duplicated,unique_id
1,1,1,2.571870e+09,detroitdailynew,1.476133e+12,2016-10-10 20:57:00+00:00,0.0,False,0.0,"Clinton: Trump should’ve apologized more, atta...",...,193.0,"Clinton : Trump should ’ve apologized more , a...","Local news , sports , business , politics , en...",[-2.54299581e-01 2.08115086e-01 -5.42564988e-...,[-7.22378492e-02 3.59070897e-01 1.65857021e-...,0,864,True,0,7.855849423569674e+17detroitdailynew
5,5,5,2.882014e+09,giselleevns,1.477496e+12,2016-10-26 15:33:58+00:00,NaN,NaN,NaN,"@ModicaGiunta me, too!",...,113.0,"Modicagiunta me , too !",if you don't work hard to achieve your dreams ...,[-1.34646401e-01 3.14652026e-01 -1.33460000e-...,[-4.47446369e-02 2.51390547e-01 -3.30337495e-...,0,728,True,0,7.9130185460915e+17giselleevns
8,8,8,1.679279e+09,ameliebaldwin,1.477792e+12,2016-10-30 01:48:19+00:00,0.0,False,0.0,RT @AriaWilsonGOP: 3 Women Face Charges After ...,...,160.0,RT Ariawilsongop : 3 Women Face Charges After ...,"Wife , Mother , Patriot , Friend",[-1.12652123e-01 1.57321408e-01 -1.17146656e-...,[-3.59312855e-02 3.11267316e-01 -1.35997280e-...,0,1169,True,0,7.925436225288929e+17ameliebaldwin
18,21,21,1.660375e+09,ilovesarahrich,1.477820e+12,2016-10-30 09:29:28+00:00,0.0,False,0.0,"RT @bgg2wl: Walmart, Michelle Obama and The Ha...",...,6.0,"RT Bgg2wl : Walmart , Michelle Obama and The H...",Just trying to love the life I'm living & the ...,[-1.10773839e-01 2.16222301e-01 -6.32913113e-...,[ 2.33638939e-02 1.79698288e-01 -1.81564108e-...,0,1176,True,0,7.926596780188877e+17ilovesarahrich
22,28,28,2.882014e+09,giselleevns,1.477053e+12,2016-10-21 12:30:53+00:00,NaN,NaN,NaN,When I remember it's #Friyay https://t.co/yjBT...,...,113.0,When I remember it's Friyay T,if you don't work hard to achieve your dreams ...,[ 6.13904074e-02 3.08178574e-01 -2.02425286e-...,[-4.47446369e-02 2.51390547e-01 -3.30337495e-...,0,723,True,0,7.894438400758497e+17giselleevns
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181473,203461,203454,1.692501e+09,cornellburchet,1.473437e+12,2016-09-09 16:08:43+00:00,0.0,False,0.0,"RT @JoyAnnReid: IOW, during the primaries Kell...",...,19.0,"RT Joyannreid : IOW , during the primaries Kel...","A world for a few , a few to justice , lands i...",[ 1.19242705e-02 1.58835635e-01 3.90442349e-...,[-7.88898841e-02 8.63750875e-02 -8.04065093e-...,0,1113,True,0,7.742783701713347e+17cornellburchet
181475,203463,203456,2.943515e+09,screamymonkey,1.475085e+12,2016-09-28 17:56:46+00:00,0.0,False,0.0,#TopNews Senate overwhelmingly rejects Obama v...,...,44.0,TopNews Senate overwhelmingly rejects Obama ve...,First frontier . News aggreagtor .,[-9.88186374e-02 1.22007817e-01 3.67550552e-...,[ 7.90153369e-02 1.69558331e-01 -4.33810055e-...,0,641,True,0,7.811909319281295e+17screamymonkey
181483,203475,203468,2.882350e+09,chrixmorgan,1.472051e+12,2016-08-24 14:56:10+00:00,0.0,False,0.0,RT @Goodluckbeer: Fentanyl filled Trump suppor...,...,97.0,RT Goodluckbeer : Fentanyl filled Trump suppor...,I'm so funny . I can make myself laugh,[ 2.09579784e-02 1.54693902e-01 -2.28575412e-...,[-5.73518053e-02 2.25625068e-01 -3.89564008e-...,0,664,True,0,7.684619072000573e+17chrixmorgan
181485,203477,203470,2.570017e+09,onlinememphis,1.475197e+12,2016-09-30 00:58:11+00:00,0.0,False,0.0,ELECTION GUIDE: Federal and State elections ht...,...,113.0,ELECTION GUIDE : Federal and State elections T,"Breaking news , weather , traffic and more for...",[-1.14170499e-01 2.69477516e-02 1.97396249e-...,[-6.70233518e-02 3.25602353e-01 -1.40968829e-...,0,854,True,0,7.816593719189258e+17onlinememphis
181489,203481,203474,1.688371e+09,watchmewalkin,1.476623e+12,2016-10-16 13:08:21+00:00,0.0,False,0.0,RT @BuzzFeed: This 22-year-old got out of an a...,...,10.0,RT Buzzfeed : This 22 - year - old got out of ...,Working - Music geek + Blacker than BlackHole,[-1.64007515e-01 2.00706407e-01 -1.06516197e-...,[-9.92912501e-02 8.92653689e-02 -1.39007494e-...,0,1151,True,0,7.876413300842783e+17watchmewalkin

In [213]:
nef_period_unique[nef_period_unique['unique_id'].duplicated()]
#Good lord finally - an actually unique column in this mess.

Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 0.1, user_id, user_handle, created_at_x, tweet_date, retweet_count, retweeted, favorite_count, text, tweet_id, source, hashtags, expanded_urls, posted, mentions, retweeted_status_id, in_reply_to_status_id, id, location, name, followers_count, statuses_count, time_zone, verified, lang, description, account_creation_date, favourites_count, friends_count, listed_count, p_text, p_desc, text_vecs, desc_vecs, in_reply, creation_delta, within_range, duplicated, unique_id]
Index: []

[0 rows x 40 columns]

In [219]:
new_nefarious = new_nefarious[new_nefarious['tweet_id'].notna()]
new_nefarious

,tweet_id,emojis,emoji_count,emoji_repeated,mentions,user_handle
0,7.123460e+17,[],0.0,0,[],ryanmaxwell_1
1,7.855849e+17,[],0.0,0,[],detroitdailynew
2,8.343832e+17,[],0.0,0,['@ltapoll'],cookncooks
3,8.134006e+17,[],0.0,0,['@jww372'],queenofthewo
4,8.940243e+17,[],0.0,0,"['@Shareblue', '@alisonrose711']",mrclydepratt
...,...,...,...,...,...,...
203484,7.934256e+17,[],0.0,0,['@AndreaChalupa'],nojonathonno
203485,6.113387e+17,[],0.0,0,['@KansasCityDNews'],judelambertusa
203486,8.188929e+17,[],0.0,0,"['@signsinyork', '@smallbusinessuk']",patriotblake
203487,8.004560e+17,[],0.0,0,[],dailysandiego
203488,8.109831e+17,[],0.0,0,['@futureguru100'],willisbonnerr

In [220]:
new_nefarious['unique_id'] = new_nefarious['tweet_id'].astype(str) + new_nefarious['user_handle']
new_nefarious

<ipython-input-220-b8098ab6bdcd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_nefarious['unique_id'] = new_nefarious['tweet_id'].astype(str) + new_nefarious['user_handle']

,tweet_id,emojis,emoji_count,emoji_repeated,mentions,user_handle,unique_id
0,7.123460e+17,[],0.0,0,[],ryanmaxwell_1,7.123460278614057e+17ryanmaxwell_1
1,7.855849e+17,[],0.0,0,[],detroitdailynew,7.855849423569674e+17detroitdailynew
2,8.343832e+17,[],0.0,0,['@ltapoll'],cookncooks,8.34383165359788e+17cookncooks
3,8.134006e+17,[],0.0,0,['@jww372'],queenofthewo,8.134006499122176e+17queenofthewo
4,8.940243e+17,[],0.0,0,"['@Shareblue', '@alisonrose711']",mrclydepratt,8.940243270493635e+17mrclydepratt
...,...,...,...,...,...,...,...
203484,7.934256e+17,[],0.0,0,['@AndreaChalupa'],nojonathonno,7.934256337539154e+17nojonathonno
203485,6.113387e+17,[],0.0,0,['@KansasCityDNews'],judelambertusa,6.113386858675528e+17judelambertusa
203486,8.188929e+17,[],0.0,0,"['@signsinyork', '@smallbusinessuk']",patriotblake,8.188928667475845e+17patriotblake
203487,8.004560e+17,[],0.0,0,[],dailysandiego,8.004559621465375e+17dailysandiego
203488,8.109831e+17,[],0.0,0,['@futureguru100'],willisbonnerr,8.109831194781368e+17willisbonnerr

In [221]:
to_merge = new_nefarious.drop_duplicates(subset=['unique_id'])
to_merge

,tweet_id,emojis,emoji_count,emoji_repeated,mentions,user_handle,unique_id
0,7.123460e+17,[],0.0,0,[],ryanmaxwell_1,7.123460278614057e+17ryanmaxwell_1
1,7.855849e+17,[],0.0,0,[],detroitdailynew,7.855849423569674e+17detroitdailynew
2,8.343832e+17,[],0.0,0,['@ltapoll'],cookncooks,8.34383165359788e+17cookncooks
3,8.134006e+17,[],0.0,0,['@jww372'],queenofthewo,8.134006499122176e+17queenofthewo
4,8.940243e+17,[],0.0,0,"['@Shareblue', '@alisonrose711']",mrclydepratt,8.940243270493635e+17mrclydepratt
...,...,...,...,...,...,...,...
203484,7.934256e+17,[],0.0,0,['@AndreaChalupa'],nojonathonno,7.934256337539154e+17nojonathonno
203485,6.113387e+17,[],0.0,0,['@KansasCityDNews'],judelambertusa,6.113386858675528e+17judelambertusa
203486,8.188929e+17,[],0.0,0,"['@signsinyork', '@smallbusinessuk']",patriotblake,8.188928667475845e+17patriotblake
203487,8.004560e+17,[],0.0,0,[],dailysandiego,8.004559621465375e+17dailysandiego
203488,8.109831e+17,[],0.0,0,['@futureguru100'],willisbonnerr,8.109831194781368e+17willisbonnerr

In [222]:
to_merge[to_merge['unique_id'].duplicated()] #Good!

Empty DataFrame
Columns: [tweet_id, emojis, emoji_count, emoji_repeated, mentions, user_handle, unique_id]
Index: []

In [223]:
emoji_merged = nef_period_unique.merge(to_merge, how='left', on = 'unique_id')
emoji_merged

,Unnamed: 0,Unnamed: 0.1,user_id,user_handle_x,created_at_x,tweet_date,retweet_count,retweeted,favorite_count,text,...,creation_delta,within_range,duplicated,unique_id,tweet_id_y,emojis,emoji_count,emoji_repeated,mentions_y,user_handle_y
0,1,1,2.571870e+09,detroitdailynew,1.476133e+12,2016-10-10 20:57:00+00:00,0.0,False,0.0,"Clinton: Trump should’ve apologized more, atta...",...,864,True,0,7.855849423569674e+17detroitdailynew,7.855849e+17,[],0.0,0,[],detroitdailynew
1,5,5,2.882014e+09,giselleevns,1.477496e+12,2016-10-26 15:33:58+00:00,NaN,NaN,NaN,"@ModicaGiunta me, too!",...,728,True,0,7.9130185460915e+17giselleevns,7.913019e+17,[],0.0,0,['@ModicaGiunta'],giselleevns
2,8,8,1.679279e+09,ameliebaldwin,1.477792e+12,2016-10-30 01:48:19+00:00,0.0,False,0.0,RT @AriaWilsonGOP: 3 Women Face Charges After ...,...,1169,True,0,7.925436225288929e+17ameliebaldwin,7.925436e+17,[],0.0,0,['@AriaWilsonGOP'],ameliebaldwin
3,21,21,1.660375e+09,ilovesarahrich,1.477820e+12,2016-10-30 09:29:28+00:00,0.0,False,0.0,"RT @bgg2wl: Walmart, Michelle Obama and The Ha...",...,1176,True,0,7.926596780188877e+17ilovesarahrich,7.926597e+17,[],0.0,0,['@bgg2wl'],ilovesarahrich
4,28,28,2.882014e+09,giselleevns,1.477053e+12,2016-10-21 12:30:53+00:00,NaN,NaN,NaN,When I remember it's #Friyay https://t.co/yjBT...,...,723,True,0,7.894438400758497e+17giselleevns,7.894438e+17,[],0.0,0,[],giselleevns
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55244,203461,203454,1.692501e+09,cornellburchet,1.473437e+12,2016-09-09 16:08:43+00:00,0.0,False,0.0,"RT @JoyAnnReid: IOW, during the primaries Kell...",...,1113,True,0,7.742783701713347e+17cornellburchet,7.742784e+17,[],0.0,0,"['@JoyAnnReid', '@Peachie100']",cornellburchet
55245,203463,203456,2.943515e+09,screamymonkey,1.475085e+12,2016-09-28 17:56:46+00:00,0.0,False,0.0,#TopNews Senate overwhelmingly rejects Obama v...,...,641,True,0,7.811909319281295e+17screamymonkey,7.811909e+17,[],0.0,0,[],screamymonkey
55246,203475,203468,2.882350e+09,chrixmorgan,1.472051e+12,2016-08-24 14:56:10+00:00,0.0,False,0.0,RT @Goodluckbeer: Fentanyl filled Trump suppor...,...,664,True,0,7.684619072000573e+17chrixmorgan,7.684619e+17,[],0.0,0,['@Goodluckbeer'],chrixmorgan
55247,203477,203470,2.570017e+09,onlinememphis,1.475197e+12,2016-09-30 00:58:11+00:00,0.0,False,0.0,ELECTION GUIDE: Federal and State elections ht...,...,854,True,0,7.816593719189258e+17onlinememphis,7.816594e+17,[],0.0,0,[],onlinememphis
55248,203481,203474,1.688371e+09,watchmewalkin,1.476623e+12,2016-10-16 13:08:21+00:00,0.0,False,0.0,RT @BuzzFeed: This 22-year-old got out of an a...,...,1151,True,0,7.876413300842783e+17watchmewalkin,7.876413e+17,[],0.0,0,['@BuzzFeed'],watchmewalkin

In [224]:
emoji_merged.info() #Wow this has really trimmed down a lot with that timeline constraint.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55249 entries, 0 to 55248
Data columns (total 46 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             55249 non-null  int64
 1   Unnamed: 0.1           55249 non-null  int64
 2   user_id                55249 non-null  float64
 3   user_handle_x          55249 non-null  object
 4   created_at_x           55249 non-null  float64
 5   tweet_date             55249 non-null  datetime64[ns, UTC]
 6   retweet_count          37010 non-null  float64
 7   retweeted              37010 non-null  object
 8   favorite_count         37010 non-null  float64
 9   text                   55249 non-null  object
 10  tweet_id_x             55249 non-null  float64
 11  source                 37010 non-null  object
 12  hashtags               55249 non-null  object
 13  expanded_urls          55249 non-null  object
 14  posted                 55249 non-null  object
 15  mentions_x             55249 non-null  object
 16  retweeted_status_id    29176 non-null  float64
 17  in_reply_to_status_id  49 non-null     float64
 18  id                     55249 non-null  float64
 19  location               49300 non-null  object
 20  name                   55249 non-null  object
 21  followers_count        55249 non-null  float64
 22  statuses_count         55249 non-null  float64
 23  time_zone              55105 non-null  object
 24  verified               55249 non-null  int64
 25  lang                   55249 non-null  object
 26  description            52631 non-null  object
 27  account_creation_date  55249 non-null  datetime64[ns, UTC]
 28  favourites_count       55249 non-null  float64
 29  friends_count          55249 non-null  float64
 30  listed_count           55249 non-null  float64
 31  p_text                 55249 non-null  object
 32  p_desc                 52631 non-null  object
 33  text_vecs              55249 non-null  object
 34  desc_vecs              55249 non-null  object
 35  in_reply               55249 non-null  int64
 36  creation_delta         55249 non-null  int64
 37  within_range           55249 non-null  bool
 38  duplicated             55249 non-null  int64
 39  unique_id              55249 non-null  object
 40  tweet_id_y             55249 non-null  float64
 41  emojis                 55249 non-null  object
 42  emoji_count            55249 non-null  float64
 43  emoji_repeated         55249 non-null  object
 44  mentions_y             55249 non-null  object
 45  user_handle_y          55249 non-null  object
dtypes: bool(1), datetime64[ns, UTC](2), float64(15), int64(6), object(22)
memory usage: 19.4+ MB

In [225]:
norm_t.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12289 entries, 0 to 55386
Data columns (total 39 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               12289 non-null  object
 1   t_id                     12289 non-null  object
 2   t_text                   12289 non-null  object
 3   t_created_at             12289 non-null  datetime64[ns, UTC]
 4   t_hashtags               12289 non-null  object
 5   t_mentions               12289 non-null  object
 6   t_urls                   12289 non-null  object
 7   t_source                 12289 non-null  object
 8   t_lang                   12289 non-null  object
 9   t_favorite_count         12289 non-null  object
 10  t_retweet_count          12289 non-null  object
 11  t_retweeted              12289 non-null  object
 12  t_retweet_status_id      12289 non-null  object
 13  t_in_reply_to_status_id  12289 non-null  float64
 14  user_id                  12289 non-null  float64
 15  user_name                12289 non-null  object
 16  user_handle              12289 non-null  object
 17  user_location            12289 non-null  object
 18  user_desc                10278 non-null  object
 19  user_verified            12289 non-null  object
 20  followers_count          12289 non-null  float64
 21  user_status_count        12289 non-null  float64
 22  user_friend_count        12289 non-null  float64
 23  user_favorites_count     12289 non-null  float64
 24  user_listed_count        12289 non-null  float64
 25  user_protected           12289 non-null  object
 26  user_created_at          12289 non-null  datetime64[ns, UTC]
 27  mentions                 12289 non-null  object
 28  hashtags                 12289 non-null  object
 29  urls                     12289 non-null  object
 30  emojis                   12289 non-null  object
 31  emoji_count              12289 non-null  float64
 32  emoji_repeated           12289 non-null  object
 33  in_reply                 12289 non-null  float64
 34  text                     12289 non-null  object
 35  desc                     10278 non-null  object
 36  desc_vecs                12289 non-null  object
 37  text_vecs                12289 non-null  object
 38  creation_delta           12289 non-null  int64
dtypes: datetime64[ns, UTC](2), float64(9), int64(1), object(27)
memory usage: 3.8+ MB

In [226]:
#Okay good and these both have the creation deltas - now I just really need to make a few more calls with imperfect
#information about the nefarious dataset, put the emojis in some kind of order, do something with the source and
#url info and probably do a hashtag count - maybe text length count too. Feature engineering from this, essentially.
emoji_merged.to_csv('penultimate_nefarious.csv')
norm_t.to_csv('penultimate_normal.csv')